<!-- Chemist Data Table -->
<div class="col-md-12" *ngIf="showChemistTable">
    <kt-portlet>
        <kt-portlet-header title="Chemist Data" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <kt-field-officer (valueChange)="fieldOfficerSelected($event,'chemist')" [multiple]="true">
                </kt-field-officer>
                <kt-time-period (valueChange)="dateSelected($event,'chemist')" class="mx-3"></kt-time-period>
                <button class="btn ml-2 btn-primary" (click)="exportChemistData()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z3">
                <input class="form-control mb-2" (keyup)="chemistDataFilter($event)" placeholder="Search" />
                <div style="overflow-y: auto;">
                    <table mat-table [dataSource]="chemistDataSource" #chemistMatSort="matSort" matSort class="w-100">
                        <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;">
                                {{chemistPaginator.pageSize*chemistPaginator.pageIndex + i + 1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="providerName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.providerName ? element.providerName : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NikshayHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NikshayHFID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.NikshayHFID ? element.NikshayHFID : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="providerDesignation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Designation </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.providerDesignation ? (element.providerDesignation | titlecase) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fieldOfficer">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Officer </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fieldOfficer ? (element.fieldOfficer | titlecase) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="issued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Issued </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.issued ? element.issued : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="claimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.claimed ? element.claimed : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrRedeemRatio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Redemption Ratio </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrRedeemRatio ? (element.cxrRedeemRatio | number : '1.0-2') : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrSuggestivePercent">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Suggestive Percent </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrSuggestivePercent ? (element.cxrSuggestivePercent | number : '1.0-2') :
                                '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="isPatientEnrolled">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TB Enrolled Patients </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.isPatientEnrolled ? (element.isPatientEnrolled ) : '-----'}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="chemistDataDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: chemistDataDisplayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #chemistPaginator [length]="chemistDataSource?.data?.length || 0"
                    [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>
<!-- Empanelled Chemist Data Table -->
<div class="col-md-12" *ngIf="showEmpChemistTable">
    <kt-portlet>
        <kt-portlet-header title="Empanelled Chemist FDC Data" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <kt-field-officer (valueChange)="fieldOfficerSelected($event,'empchemist')" [multiple]="true">
                </kt-field-officer>
                <kt-time-period (valueChange)="dateSelected($event,'empchemist')" class="mx-3"></kt-time-period>
                <button class="btn ml-2 btn-primary" (click)="exportEmpChemistData()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z3">
                <input class="form-control mb-2" (keyup)="empChemistDataFilter($event)" placeholder="Search" />
                <div style="overflow-y: auto;">
                    <table mat-table [dataSource]="empChemistDataSource" #empChemistMatSort="matSort" matSort
                        class="w-100">
                        <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{empChemistPaginator.pageSize *
                                empChemistPaginator.pageIndex + i + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="providerName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.providerName ? element.providerName : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NikshayHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NikshayHFID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.NikshayHFID ? element.NikshayHFID : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="providerDesignation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Designation </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.providerDesignation ? (element.providerDesignation | titlecase) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fieldOfficer">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Officer </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fieldOfficer ? (element.fieldOfficer | titlecase) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="claimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FDC Voucher Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.claimed ? element.claimed : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="chemistNotified">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chemist Notified </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.chemistNotified ? (element.chemistNotified) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="uniquePatientsOnFDC">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Patients On FDC </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.uniquePatientsOnFDC ? (element.uniquePatientsOnFDC) : '-----'}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="empChemistDataDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: empChemistDataDisplayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #empChemistPaginator [length]="empChemistDataSource?.data?.length || 0"
                    [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>
<!-- Lab Data Table -->
<div class="col-md-12" *ngIf="showLabTable">
    <kt-portlet>
        <kt-portlet-header title="X-Ray Lab Data" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <kt-field-officer (valueChange)="fieldOfficerSelected($event,'lab')" [multiple]="true">
                </kt-field-officer>
                <kt-time-period (valueChange)="dateSelected($event,'lab')" class="mx-3"></kt-time-period>
                <button class="btn ml-2 btn-primary" (click)="exportLabData()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z3">
                <input class="form-control mb-2" (keyup)="labDataFilter($event)" placeholder="Search" />
                <div style="overflow-y: auto;">
                    <table mat-table [dataSource]="labDataSource" #labMatSort="matSort" matSort class="w-100">
                        <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{labPaginator.pageSize *
                                labPaginator.pageIndex + i + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name ? element.name : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NikshayHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NikshayHFID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.NikshayHFID ? element.NikshayHFID : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Officer </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fo ? (element.fo | titlecase) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrClaimed ? (element.cxrClaimed) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="consultIssued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> D Consult Issued </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.consultIssued ? (element.consultIssued) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="consultClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> D Consult Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.consultClaimed ? element.consultClaimed : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="isPatientEnrolled">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TB Enrolled Patients </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.isPatientEnrolled ? (element.isPatientEnrolled) : '-----'}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="labDataDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: labDataDisplayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #labPaginator [length]="labDataSource?.data?.length || 0"
                    [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>

<!-- Formal Provider Data Table -->
<div class="col-md-12" *ngIf="showFormalProviderTable">
    <kt-portlet>
        <kt-portlet-header title="Formal Provider Data" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <kt-field-officer (valueChange)="fieldOfficerSelected($event,'formalprovider')" [multiple]="true">
                </kt-field-officer>
                <kt-time-period (valueChange)="dateSelected($event,'formalprovider')" class="mx-3"></kt-time-period>
                <button class="btn ml-2 btn-primary" (click)="exportFormalProviderData()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z3">
                <input class="form-control mb-2" (keyup)="formalProviderDataFilter($event)" placeholder="Search" />
                <div style="overflow-y: auto;">
                    <table mat-table [dataSource]="formalProviderDataSource" #formalProviderMatSort="matSort" matSort
                        class="w-100">
                        <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{formalProviderPaginator.pageSize *
                                formalProviderPaginator.pageIndex + i + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name ? element.name : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NikshayHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NikshayHFID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.NikshayHFID ? element.NikshayHFID : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="designation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.designation ? element.designation : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Officer </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fo ? (element.fo | titlecase) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="consultClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> D Consult Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.consultClaimed ? (element.consultClaimed) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrIssued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Issued </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrIssued ? (element.cxrIssued) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrClaimed ? (element.cxrClaimed) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrRedeemRatio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Redemption Ratio </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrRedeemRatio ? (element.cxrRedeemRatio | number: "1.0-2") : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="isPatientEnrolled">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TB Enrolled Patients </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.isPatientEnrolled ? (element.isPatientEnrolled) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cbnaatIssued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CBNAAT Issued </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cbnaatIssued ? element.cbnaatIssued : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cbnaatClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CBNAAT Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cbnaatClaimed ? element.cbnaatClaimed : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cbnaatRedeemRatio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CBNAAT Redemption Ratio </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cbnaatRedeemRatio ? (element.cbnaatRedeemRatio | number: "1.0-2") : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fdcIssued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FDC Issued </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fdcIssued ? element.fdcIssued : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fdcClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FDC Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fdcClaimed ? element.fdcClaimed : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fdcRedeemRatio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FDC Redemption Ratio </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fdcRedeemRatio ? (element.fdcRedeemRatio | number: "1.0-2") : '-----'}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="formalProviderDataDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: formalProviderDataDisplayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #formalProviderPaginator [length]="formalProviderDataSource?.data?.length || 0"
                    [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>

<!-- Ayush Provider Data Table -->
<div class="col-md-12" *ngIf="showAyushProviderTable">
    <kt-portlet>
        <kt-portlet-header title="AYUSH Provider Data" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <kt-field-officer (valueChange)="fieldOfficerSelected($event,'ayush')" [multiple]="true">
                </kt-field-officer>
                <kt-time-period (valueChange)="dateSelected($event,'ayush')" class="mx-3"></kt-time-period>
                <button class="btn ml-2 btn-primary" (click)="exportAyushProviderData()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z3">
                <input class="form-control mb-2" (keyup)="ayushProviderDataFilter($event)" placeholder="Search" />
                <div style="overflow-y: auto;">
                    <table mat-table [dataSource]="ayushProviderDataSource" #formalProviderMatSort="matSort" matSort
                        class="w-100">
                        <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{ayushProviderPaginator.pageSize *
                                ayushProviderPaginator.pageIndex + i + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name ? element.name : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="NikshayHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NikshayHFID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.NikshayHFID ? element.NikshayHFID : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="designationName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.designationName ? element.designationName : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Officer </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fo ? (element.fo | titlecase) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="consultIssued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> D Consult Issued </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.consultIssued ? (element.consultIssued) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="consultClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> D Consult Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.consultClaimed ? (element.consultClaimed) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="consultRedeemRatio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> D Consult Redemption Ratio </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.consultRedeemRatio ? (element.consultRedeemRatio | number: "1.0-2") :
                                '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrIssued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Issued </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrIssued ? (element.cxrIssued) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Claimed </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrClaimed ? (element.cxrClaimed) : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrRedeemRatio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Redemption Ratio </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrRedeemRatio ? (element.cxrRedeemRatio | number: "1.0-2") : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrSuggestivePercent">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TB Enrolled Patients </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cxrSuggestivePercent ? (element.cxrSuggestivePercent | number: "1.0-2") :
                                '-----'}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="ayushProviderDataDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: ayushProviderDataDisplayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #ayushProviderPaginator [length]="ayushProviderDataSource?.data?.length || 0"
                    [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>