@import "../../../../assets/sass/mat-table.scss";
:host {
    ::ng-deep {
        ngb-tabset>.nav-tabs {
            display: none;
        }
    }
}

body {
    margin-top: 20px;
    background: #fafafa;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: #4099ff;
}

.bg-c-green {
    background: #11da9d;
}

.bg-c-yellow {
    background: linear-gradient(45deg, #cfee91, #f7dd29);
}

.bg-c-pink {
    background: linear-gradient(45deg, #a1e994, #94bbe9);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

h2 {
    font-size: 35px;
}

h6 {
    font-size: 20px;
}