
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card card-body rounded-lg mb-3 bg-info">
            <span class="display-3 text-white">1000</span>

            <footer class="blockquote-footer">
                <span class="h5 text-white"># DATA 1</span>
            </footer>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card card-body rounded-lg mb-3 bg-c-blue">
            <span class="display-3 text-white">2133</span>

            <footer class="blockquote-footer">
                <span class="h5 text-white"># DATA 2</span>
            </footer>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card card-body rounded-lg mb-3 bg-success">
            <span class="display-3 text-white">4523</span>

            <footer class="blockquote-footer">
                <span class="h5 text-white"># DATA 3</span>
            </footer>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card card-body rounded-lg mb-3 bg-c-green">
            <span class="display-3 text-white">243</span>

            <footer class="blockquote-footer">
                <span class="h5 text-white"># DATA 4</span>
            </footer>
        </div>
    </div>
</div>
