<div class="row">
    <div class="col-sm-2">
        <kt-field-officer [multiple]=true (valueChange)="getFieldOfficer($event)"></kt-field-officer>
    </div>
    <div class="col-sm-2">
        <kt-designation [multiple]=true (valueChange)="getDesignation($event)"></kt-designation>
    </div>
    <div class="col-sm-2">
        <kt-provider [multiple]=true (valueChange)="getProvider($event)" #callProviderComponent></kt-provider>
    </div>
    <div class="col-sm-2">
        <kt-time-period [date]="fromDateToDate" (valueChange)="getDateRange($event)"></kt-time-period>
    </div>
    <div class="col-sm-2">
        <kt-site-of-disease (valueChange)="getSiteOfDisease($event)"></kt-site-of-disease>
    </div>
    <div class="col-sm-2">
        <kt-cxr-offered (valueChange)="getCXROffered($event)"></kt-cxr-offered>
    </div>
    <div class="col-sm-2">
        <kt-cbnaat-offered (valueChange)="getCBNAATOffered($event)"></kt-cbnaat-offered>
    </div>
    <div class="col-sm-2">
        <kt-fdc (valueChange)="getFDC($event)"></kt-fdc>
    </div>
</div>
<div class="row mt-5 mb-2">
    <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="card has-background-gradient-teal">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/patient.svg" width="65" alt="Chemist">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">Enrollment</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5 >
                        <img src="assets/media/icons/stakeholders/check.svg" alt="total enrollment" width="15"> Total Enrollment </h5>
                    <h5 >{{dataOfTiles?.patientsEnrolled || 0}}</h5>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-green">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/x-ray.svg" width="65" alt="Chemist">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">Chest X-Ray</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5 ><img src="assets/media/icons/stakeholders/issue.svg" alt="voucher issue" width="15"> Vouchers Issued </h5>
                    <h5 >{{dataOfTiles?.CXRIssued || 0}} </h5>
                </div>
                <div class="card-details-inner">
                    <h5 >
                        <img src="assets/media/icons/stakeholders/check.svg" alt="voucher claim" width="15"> Vouchers Claimed </h5>
                    <h5 >{{dataOfTiles?.CXRClaimed || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-blue">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/cbnaat.svg" width="65" alt="Chemist">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">CBNAAT</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5 ><img src="assets/media/icons/stakeholders/issue.svg" alt="voucher issue" width="15"> Vouchers Issued </h5>
                    <h5 >{{dataOfTiles?.CBNAATIssued || 0}}</h5>
                </div>
                <div class="card-details-inner">
                    <h5 >
                        <img src="assets/media/icons/stakeholders/check.svg" alt="voucher claim" width="15"> Vouchers Claimed </h5>
                    <h5 >{{dataOfTiles?.CBNAATClaimed || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-yellow">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/chemist.svg" width="65" alt="Chemist">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">FDC</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5 ><img src="assets/media/icons/stakeholders/issue.svg" alt="voucher issue" width="15"> Vouchers Issued </h5>
                    <h5 >{{dataOfTiles?.FDCIssued || 0}}</h5>
                </div>
                <div class="card-details-inner">
                    <h5 >
                        <img src="assets/media/icons/stakeholders/check.svg" alt="voucher claim" width="15"> Vouchers Claimed </h5>
                    <h5 >{{dataOfTiles?.FDCClaimed || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-brown">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/analytics.svg" width="65" alt="Chemist">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">Analytics</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5 ><img src="assets/media/icons/stakeholders/analytics2.svg" alt="voucher issue" width="15"> Issued/Claimed </h5>
                    <h5 >{{dataOfTiles?.issuedClaimedRatio || 0}}</h5>
                </div>
                <div class="card-details-inner">
                    <h5 >
                        <img src="assets/media/icons/stakeholders/analytics2.svg" alt="voucher claim" width="15"> Issued/Enrolled </h5>
                        <h5 >{{dataOfTiles?.issuedEnrolledRatio || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="CXR by User Type" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="cxrByUserType" style="width: 100%; height: 40rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="Consultation by User Type" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="consultationByUserType" style="width: 100%; height: 40rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="CXR Issued/Claimed Ratio" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="cxrIssuedClaimedRatio" style="width: 100%; height: 40rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="CXR Issued/Enrolled Patient Ratio" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="issuedEnrolledPatientRatio" style="width: 100%; height: 40rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="Vouchers Data Month Wise" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
                </ng-container>
            </kt-portlet-header>

            <kt-portlet-body>
                <div class="overflow-auto">
                    <table class="table table-striped table-bordered table-hover table-sm newView" id="tableId1">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" *ngFor="let month of vouchersMonthWiseData?.CXRIssued">
                                    {{month?.monthYearName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Total CXR Issued</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.CXRIssued">{{month?.count}}</td>

                            </tr>
                            <tr>
                                <td><strong>Total CXR Claimed</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.CXRClaimed">{{month?.count}}</td>

                            </tr>
                            <tr>
                                <td><strong>Total CXR Lapsed</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.CXRLapsed">{{month?.count}}</td>

                            </tr>
                            <tr>
                                <td><strong>Total Counselling Issued</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.counsellingIssued">{{month?.count}}</td>

                            </tr>
                            <tr>
                                <td><strong>Total Counselling Claimed</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.counsellingClaimed">{{month?.count}}
                                </td>

                            </tr>
                            <tr>
                                <td><strong>Total Counselling Lapsed</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.counsellingLapsed">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total FDC Issued</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.FDCIssued">{{month?.count}}</td>

                            </tr>
                            <tr>
                                <td><strong>Total FDC Claimed</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.FDCClaimed">{{month?.count}}</td>

                            </tr>
                            <tr>
                                <td><strong>Total CBNAAT Issued</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.CBNAATIssued">{{month?.count}}</td>

                            </tr>
                            <tr>
                                <td><strong>Total CBNAAT Claimed</strong></td>
                                <td *ngFor="let month of vouchersMonthWiseData?.CBNAATClaimed">{{month?.count}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>