<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>SCT Agent</mat-label>
    <mat-select placeholder="Select SCT Agent" [multiple]="multiple" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let sctAgent of sctAgentList" [value]="sctAgent.id">
            {{ sctAgent.name }}
        </mat-option>
    </mat-select>
</mat-form-field>