<!--begin::Head-->
<!-- <div class="kt-login__head">
	<span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
	<a href="javascript:;" routerLink="/auth/register" class="kt-link kt-login__signup-link">{{ 'AUTH.GENERAL.SIGNUP_BUTTON' | translate }}</a>
</div> -->
<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body">
    <!--begin::Signin-->
    <div class="kt-login__form">
        <div class="kt-login__title text-center">
            <h3>{{ "AUTH.LOGIN.SIGNIN_LABEL" | translate }}</h3>
        </div>

        <div *ngIf="isValidMobileUsernamePassword" class="alert text-danger border border-danger" role="alert">
            <div class="alert-text">{{ errorMessage }}</div>
        </div>
        <!--begin::Form-->

        <div>
            <form class="kt-form" [formGroup]="loginForm" autocomplete="off">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ "AUTH.INPUT.USERNAME" | translate }}
                        </mat-label>
                        <input matInput type="text" placeholder="{{
								'AUTH.INPUT.USERNAME_PLACEHOLDER' | translate
							}}" formControlName="username" autocomplete="off" />
                        <mat-error *ngIf="
								isControlHasError(
									'loginForm',
									'username',
									'required'
								)
							">
                            <strong>{{
								"AUTH.VALIDATION.REQUIRED_FIELD" | translate
							}}</strong>
                        </mat-error>
                        <!-- <mat-error *ngIf="isControlHasError('email','email')">
						<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
					</mat-error> -->
                        <mat-error *ngIf="
								isControlHasError(
									'loginForm',
									'username',
									'minlength'
								)
							">
                            <strong>{{
									"AUTH.VALIDATION.MIN_LENGTH_FIELD"
										| translate
								}}
								2</strong
							>
						</mat-error>
						<mat-error
							*ngIf="
								isControlHasError(
									'loginForm',
									'username',
									'maxlength'
								)
							"
						>
							<strong
								>{{
									"AUTH.VALIDATION.MAX_LENGTH_FIELD"
										| translate
								}}
								320</strong
							>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field appearance="outline">
						<mat-label>{{
							"AUTH.INPUT.PASSWORD" | translate
						}}</mat-label>
						<input
							matInput
							type="password"
							placeholder="{{
								'AUTH.INPUT.PASSWORD_PLACEHOLDER' | translate
							}}"
							formControlName="password"
							autocomplete="off"
						/>
						<mat-error
							*ngIf="
								isControlHasError(
									'loginForm',
									'password',
									'required'
								)
							"
						>
							<strong>{{
								"AUTH.VALIDATION.REQUIRED_FIELD" | translate
							}}</strong>
                        </mat-error>
                        <mat-error *ngIf="
								isControlHasError(
									'loginForm',
									'password',
									'minlength'
								)
							">
                            <strong>{{
									"AUTH.VALIDATION.MIN_LENGTH_FIELD"
										| translate
								}}
								2</strong
							>
						</mat-error>
						<mat-error
							*ngIf="
								isControlHasError(
									'loginForm',
									'password',
									'maxlength'
								)
							"
						>
							<strong
								>{{
									"AUTH.VALIDATION.MAX_LENGTH_FIELD"
										| translate
								}}
								100</strong
							>
						</mat-error>
					</mat-form-field>
				</div>
				<!--begin::Action-->
				<div class="kt-login__actions d-flex flex-wrap ">
					<!-- <a
						href="javascript:;"
						routerLink="/auth/forgot-password"
						class="kt-link kt-login__link-forgot"
					>
						//{{ "AUTH.GENERAL.FORGOT_BUTTON" | translate }}
					</a> -->
					<button style="margin-left: 150px;margin-bottom: 10px;"
						(click)="submit()"
						[ngClass]="{
							'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading
						}"
						id="kt_login_signin_submit"
						class="btn btn-primary btn-elevate kt-login__btn-primary"
					>
						{{ "AUTH.LOGIN.BUTTON" | translate }}
					</button>
				</div>
				<!--end::Action-->
			</form>
		</div>
		<!--end::Form-->

		<!--begin::Divider-->
		<!-- <div class="kt-login__divider">
			<div class="kt-divider">
				<span></span>
				<span>{{ "AUTH.GENERAL.NEED_ASSISTANCE" | translate }} ?</span>
				<span></span>
			</div>
		</div> -->
		
		<!--end::Divider-->
		<!--begin::Divider-->
		<!-- <div class="kt-login__divider">
            <div class="kt-divider">
                <span></span>
                <span>OR</span>
                <span></span>
            </div>
        </div> -->
		<!--end::Divider-->

		<!--begin::Options-->
		<!-- <div class="kt-login__options">
			<a href="https://www.facebook.com/keenthemes/" target="_blank" class="btn btn-primary kt-btn">
				<i class="fab fa-facebook-f"></i>
				Facebook
			</a>

			<a href="https://twitter.com/keenthemes/" target="_blank" class="btn btn-info kt-btn">
				<i class="fab fa-twitter"></i>
				Twitter
			</a>

			<a href="javascript:;" class="btn btn-danger kt-btn">
				<i class="fab fa-google"></i>
				Google
			</a>
		</div> -->
		<!--end::Options-->
	</div>
	<!--end::Signin-->
</div>
<!--end::Body-->