
<kt-portlet>
    <kt-portlet-header title="Total amount due for the period split by 'Payment Type'" style="min-height: 50px;">
        <ng-container ktPortletTools>
        </ng-container>
    </kt-portlet-header>
    
    <kt-portlet-body class="kt-padding-0">
        <div id="chartdiv2" class="column_chart"></div>
    </kt-portlet-body>
</kt-portlet>