
<kt-portlet>
    <kt-portlet-header [title]="title" style="min-height: 50px;">
        <ng-container ktPortletTools>
        </ng-container>
    </kt-portlet-header>
    
    <kt-portlet-body class="kt-padding-0">
        <div [id]="graphId" class="column_chart"></div>
    </kt-portlet-body>
</kt-portlet>