@import "../../../../../assets/sass/mat-table.scss";
.invoice-validation-buttons {
    display: flex;
    justify-content: space-evenly;
}

.assign__btn {
    margin: -3.1rem 0 0 0.5rem;
}

.editable,
.non_editable {
    margin: 3px 0;
    color: #0b4403;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.file-link {
    list-style: none;
    font-weight: 500;
    color: #5867dd;
    cursor: pointer;
    margin: 0;
    padding: 0;
}