<div class="row">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="GENERATED INVOICE FILTER" class="kt-portlet__head">
                <ng-container ktPortletTools> </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
                <form autocomplete="off" [formGroup]="invoiceForm" (ngSubmit)="getAllGeneratedInvoices()">
                    <div class="row">
                        <div class="m-form__heading col-lg-12">
                            <h5 class="m-form__heading-title">
                                Filter
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Month</mat-label>
                                <mat-select placeholder="Select Month" required formControlName="month">
                                    <mat-option *ngFor="let month of months" [value]="month.value">
                                        {{ month.key }}
                                    </mat-option>
                                </mat-select>
                                <mat-error> Month is required !! </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Year</mat-label>
                                <mat-select placeholder="Select Month" required formControlName="year">
                                    <mat-option *ngFor="let year of years" [value]="year.key">
                                        {{ year.key }}
                                    </mat-option>
                                </mat-select>
                                <mat-error> Year is required !! </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <button type="submit" class="mt-2" [disabled]="!invoiceForm.valid" color="primary" mat-raised-button>
                            Show Invoices
                        </button>
                        </div>
                    </div>

                </form>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>


<div class="row" *ngIf="showUserDetailsTable" id="invoice-table">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="User Details [SUMMARY OF INVOICES GENERATED]" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportDataSourceTable()">
                        Export
                    </button>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body class="pt-10">
                <div class="position-relative">
                    <div class="table-container">
                        <!-- <input class="col-sm-3 form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search " /> -->
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" class="w-100 table-responsive" #sort="matSort" matSort #tableId>
                                <ng-container matColumnDef="sn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        S.N.
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index" class="text-center">
                                        {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="providerName" sticky>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Provider's Name
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <span style="color: #5867dd;cursor: pointer;font-weight: 500;" (click)="getDetailedInfoUserWise(row)">
                                            {{ row.user.name }}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="providerType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Provider's Type
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.user.designationName }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="mappedFieldOfficer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Mapped Field Officer
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row?.user?.fieldOfficer ? row.user.fieldOfficer.name : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="month">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Month
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.month ? row.month : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="year">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Year
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.year ? row.year : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="PDFInvoice">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        PDF Invoice
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <img class="pointer" src="assets/media/files/pdf.svg" alt="invoice pdf" width="40" (click)="openInvoice(row.pdfLink)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="bankDetails">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Bank Details
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.user.bankDetails ? row.user.bankDetails : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="billNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Bill Number
                                    </th>

                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.invoiceBillNumber ? row.invoiceBillNumber : "----" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="billDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        BillDate
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.billDate ? (row.billDate | date:"dd-MM-yyyy hh:mm:ss a") : "----" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="annualAmountEarned">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Invoice Amount
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.invoiceAmount ? (row.invoiceAmount | currency:"INR") : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="tdsStatus">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        TDS Status
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.tdsStatus ? row.tdsStatus : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="panDetailsRequired">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        PAN Details Required
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.user.panDetailsRequired ? row.user.panDetailsRequired : "----" }}
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="voucherAcceptedByPT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Vouchers Accepted(SM)
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.rejectedVoucherAcceptedByPT ? row.voucherAcceptedByPT.length + row.rejectedVoucherAcceptedByPT.length : row.voucherAcceptedByPT.length }}
                                    </td> -->
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherAcceptedByPT ? row.voucherAcceptedByPT.length : 0 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherAcceptedAmountByPT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Vouchers Accepted Amount(SM)
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherAcceptedAmountByPT ? (row.voucherAcceptedAmountByPT | currency:"INR") : 0 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="previousMonthvoucherAcceptedByPT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Vouchers Accepted(PM)
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.rejectedVoucherAcceptedByPT ? row.rejectedVoucherAcceptedByPT.length : 0 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="previousMonthvoucherAcceptedAmountByPT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Vouchers Accepted Amount(PM)
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.rejectedVoucherAcceptedAmountByPT ? (row.rejectedVoucherAcceptedAmountByPT | currency:"INR") : 0 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherRejectedByPT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Vouchers Rejected(SM)
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherRejectedByPT ? row?.voucherRejectedByPT?.length : 0 }}
                                    </td>
                                    <!-- <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherRejectedByPT ? row?.voucherRejectedByPT?.length + (row?.rejectedVoucherRejectedByPT?.length || 0) : "----" }}
                                    </td> -->
                                </ng-container>
                                <ng-container matColumnDef="voucherRejectedAmountByPT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Vouchers Rejected Amount(SM)
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.currMonthVoucherRejectedAmountByPT ? (row?.currMonthVoucherRejectedAmountByPT | currency:"INR") : (0 | currency:"INR") }}
                                    </td>
                                    <!-- <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherRejectedAmountByPT ? (row?.voucherRejectedAmountByPT + (row?.rejectedVoucherRejectedAmountByPT || 0) | currency:"INR") : "----" }}
                                    </td> -->
                                </ng-container>
                                <ng-container matColumnDef="totalPayableAmount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Total Payable Amount
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ ( (row?.voucherAcceptedAmountByPT || 0) + (row?.rejectedVoucherAcceptedAmountByPT || 0) | currency:"INR") }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="accountNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Account Number
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.user.providerBankAccountNumber ? row.user.providerBankAccountNumber : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="IFSCCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        IFSC Code
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.user.providerBankIFSCCode ? row.user.providerBankIFSCCode : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="PANNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        PAN Number
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.user.providerPANCardNumber ? row.user.providerPANCardNumber : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="bankAccountPhoto">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Bank Account Photo
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <img src="/assets/media/files/jpg.svg" alt="img" class="pointer" width="40" *ngIf="row?.user?.bankAccountPhoto" (click)="downloadFile(row.user.bankAccountPhoto.container, row.user.bankAccountPhoto.modifiedFileName)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="PANCard">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        PAN Card
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <img src="/assets/media/files/jpg.svg" alt="img" class="pointer" width="40" *ngIf="row?.user?.panCard" (click)="downloadFile(row.user.panCard.container, row.user.panCard.modifiedFileName)">
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="invoiceValidationByFinanceTeam" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Invoice Validation By Finance Team
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <div class="invoice-validation-buttons">
                                            <button mat-raised-button color="primary" (click)="acceptInvoice(row)">Accept</button>
                                            <button mat-raised-button color="warn" (click)="rejectInvoice(row)">Reject</button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="
										let row;
										columns: displayedColumns
									"></tr>
                                <!--  [style.background-color]="row.status ? '' : '#ef9a9a'" -->
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">
                                        No data matching the filter "{{ input.value }}"
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            <div class="row">
                                <div class="col-lg-6 assign__btn d-flex">
                                    <p class="editable">PM : Previous Month</p>
                                    <p class="ml-2 non_editable">SM : Selected Month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

<div class="row" *ngIf="showUserWiseDetailedTable" id="userDetailsTable">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="{{selectedUser?.user?.name}} [LIST OF INVOICES GENERATED]" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTableUserWise()">
                        Export
                    </button>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body class="pt-10">
                <div class="position-relative">
                    <div class="table-container">
                        <!-- <input class="col-sm-3 form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search " /> -->
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSourceUserWise" class="w-100 table-responsive" #sort2="matSort" matSort #tableId>
                                <ng-container matColumnDef="sn" sticky>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        S.N.
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index" class="text-center">
                                        {{ paginatoruserwise.pageSize * paginatoruserwise.pageIndex + i + 1 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="patientName" sticky>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Patient's Name
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <span style="color: #5867dd;cursor: pointer;font-weight: 500;" (click)="getPatientDetail(row)">
                                            {{ row.patient.firstName}} {{ row.patient.surName }}
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="mobile">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Mobile
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.patient.mobile}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="adityaId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Aditya ID
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.patient.adityaId}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="nikshayId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nikshay ID
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.patient.nikshayId || "---"}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Voucher Name
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucher.name}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Voucher Code
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherCode}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherCreatedAt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Date Of Service Issued
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherCreatedAt | date:'d MMM y, h:mm:ss a' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherRedeemedAt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Date Of Service Claimed
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherRedeemedAt | date:'d MMM y, h:mm:ss a' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="incentiveAmount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Incentive Amount
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucher.incentive[0].amount | currency:"INR" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="proofOfService" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Proof Of Service
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <span>
                                            <ul class="file-link">
                                                <li *ngIf="row.voucherId == '5ff565416dede21747a682b9' && row.CXRUpload == true" (click)="downloadFile(row.file.container, row.file.modifiedFileName)">CXR</li>
                                                <li *ngIf="row.voucherId == '5ff5659f6dede21747a682bd' && row.file" (click)="downloadFile(row.file.container, row.file.modifiedFileName)">FDC Issue</li>
                                                <li *ngIf="row.voucherId == '5ff5659f6dede21747a682bd' && row.FDCRedeemedFile" (click)="downloadFile(row.FDCRedeemedFile.container, row.FDCRedeemedFile.modifiedFileName)">FDC Claim</li>
                                                <li *ngIf="row.voucherId == '602127ad6dede214bc03966c' && row.file" (click)="downloadFile(row.file.container, row.file.modifiedFileName)">Notification</li>
                                                <li *ngIf="row.voucherId == '5ff5655a6dede21747a682bb' && row.clinicVisitRedeemedFile" (click)="downloadFile(row.clinicVisitRedeemedFile.container, row.clinicVisitRedeemedFile.modifiedFileName)">Clinic Visit</li>
                                            </ul>
                                        </span>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumnsUserWise"></tr>
                                <tr mat-row *matRowDef="
										let row;
										columns: displayedColumnsUserWise
									"></tr>
                                <!--  [style.background-color]="row.status ? '' : '#ef9a9a'" -->
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">
                                        No data matching the filter "{{ input.value }}"
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator #paginatoruserwise [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

<div class="row" *ngIf="showRejectedVoucherTable" id="rejectedVoucherTable">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="{{selectedUser?.user?.name}} [LIST OF REJECTED VOUCHERS]" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTableRejectedVoucherUserwise()">
                        Export
                    </button>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body class="pt-10">
                <div class="position-relative">
                    <div class="table-container">
                        <input class="col-sm-3 form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search " />
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSourceRejectedVoucher" class="w-100 table-responsive" #sort3="matSort" matSort #tableId>
                                <ng-container matColumnDef="sn" sticky>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        S.N.
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index" class="text-center">
                                        {{ paginatorRejectedVoucher.pageSize * paginatorRejectedVoucher.pageIndex + i + 1 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="patientName" sticky>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Patient's Name
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <span style="color: #5867dd;cursor: pointer;font-weight: 500;" (click)="getPatientDetail(row)">
                                            {{ row.patient.firstName}} {{ row.patient.surName }}
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="mobile">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Mobile
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.patient.mobile}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="adityaId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Aditya ID
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.patient.adityaId}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="nikshayId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nikshay ID
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.patient.nikshayId || "---"}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Voucher Name
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucher.name}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Voucher Code
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherCode}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherCreatedAt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Date Of Service Issued
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherCreatedAt | date:'d MMM y, h:mm:ss a' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherRedeemedAt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Date Of Service Claimed
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherRedeemedAt | date:'d MMM y, h:mm:ss a' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="incentiveAmount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Incentive Amount
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucher.incentive[0].amount | currency:"INR" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="voucherRejectedAt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Voucher Rejected At
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherRejectedByPTAt | date:'d MMM y, h:mm:ss a' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="rejectionRemarks">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Rejection Remarks
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.voucherRejectedByPTRemarks }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="proofOfService" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Proof Of Service
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <span>
                                            <ul class="file-link">
                                                <li *ngIf="row.voucherId == '5ff565416dede21747a682b9' && row.CXRUpload == true" (click)="downloadFile(row.file.container, row.file.modifiedFileName)">CXR</li>
                                                <li *ngIf="row.voucherId == '5ff5659f6dede21747a682bd' && row.file" (click)="downloadFile(row.file.container, row.file.modifiedFileName)">FDC Issue</li>
                                                <li *ngIf="row.voucherId == '5ff5659f6dede21747a682bd' && row.FDCRedeemedFile" (click)="downloadFile(row.FDCRedeemedFile.container, row.FDCRedeemedFile.modifiedFileName)">FDC Claim</li>
                                                <li *ngIf="row.voucherId == '602127ad6dede214bc03966c' && row.file" (click)="downloadFile(row.file.container, row.file.modifiedFileName)">Notification</li>
                                                <li *ngIf="row.voucherId == '5ff5655a6dede21747a682bb' && row.clinicVisitRedeemedFile" (click)="downloadFile(row.clinicVisitRedeemedFile.container, row.clinicVisitRedeemedFile.modifiedFileName)">Clinic Visit</li>
                                            </ul>
                                        </span>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumnsRejectedVoucher"></tr>
                                <tr mat-row *matRowDef="
										let row;
										columns: displayedColumnsRejectedVoucher
									"></tr>
                                <!--  [style.background-color]="row.status ? '' : '#ef9a9a'" -->
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">
                                        No data matching the filter "{{ input.value }}"
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator #paginatorRejectedVoucher [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>