<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="Send SMS to particular designations" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="updateForm">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Select Designation</mat-label>
                            <mat-select placeholder="Select Registration Provider Type" formControlName="designation" multiple>
                                <mat-option #allRegistrationType (click)="selectAll()" [value]="0">Select All</mat-option>
                                <mat-option *ngFor="let type of designationList" (click)="selectSingle()" [value]="type.value">
                                    {{ type.designation }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Designation Is Required !! </mat-error>
                        </mat-form-field>
                    </div>
					<div class="col-md-3" [ngStyle]="{'padding':'0 20px'}">
						<button type="button" (click)="sendSMS()" class="mt-2" color="primary" mat-raised-button>
								Send
						</button>
					</div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>
