<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Designation</mat-label>
    <mat-select placeholder="Select Designation" [multiple]="multiple" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let designation of designationList" [value]="designation.name.value">
            {{ designation.name.key }}
        </mat-option>
    </mat-select>
</mat-form-field>