<div class="row">
    <div class="col-sm-2">
        <kt-field-officer [multiple]=true (valueChange)="getFieldOfficer($event)"></kt-field-officer>
    </div>
    <div class="col-sm-2">
        <kt-designation [multiple]=true (valueChange)="getDesignation($event)"></kt-designation>
    </div>
    <div class="col-sm-2">
        <kt-provider [multiple]=true (valueChange)="getProvider($event)" #callProviderComponent></kt-provider>
    </div>
    <div class="col-sm-2">
        <kt-time-period [date]="fromDateToDate" (valueChange)="getDateRange($event)"></kt-time-period>
    </div>
    <div class="col-sm-2">
        <kt-site-of-disease (valueChange)="getSiteOfDisease($event)"></kt-site-of-disease>
    </div>
    <div class="col-sm-2">
        <kt-cxr-offered (valueChange)="getCXROffered($event)"></kt-cxr-offered>
    </div>
    <div class="col-sm-2">
        <kt-cbnaat-offered (valueChange)="getCBNAATOffered($event)"></kt-cbnaat-offered>
    </div>
    <div class="col-sm-2">
        <kt-fdc (valueChange)="getFDC($event)"></kt-fdc>
    </div>
    <div class="col-sm-2">
        <kt-sctagent [multiple]=true (valueChange)="getSCT($event)"></kt-sctagent>
    </div>
</div>

<div class="row mt-5 mb-2">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-green">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/sct-delivery.svg" width="65" alt="">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right">Samples Transported </h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5><img src="assets/media/icons/stakeholders/check.svg" alt="" width="15">Total Samples Transported</h5>
                    <h5>{{TilesData?.TotalSamplesTransported || 0}} </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-blue">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/mtb-results.svg" width="65" alt="">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">MTB Detected</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5><img src="assets/media/icons/stakeholders/check.svg" alt="" width="15"> Total MTB Detected </h5>
                    <h5>{{TilesData?.TotalMTbDetected || 0}}</h5>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-yellow">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/rif-results.svg" width="65" alt="">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">RIF Detected</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5><img src="assets/media/icons/stakeholders/check.svg" alt="" width="15"> Total RIF Detected </h5>
                    <h5>{{TilesData?.TotalRifDetected || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-brown">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/unsuccessfull.svg" width="65" alt="">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end px-3 w-100">
                    <h4 class="float-right">Unsuccessful</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5><img src="assets/media/icons/stakeholders/check.svg" alt="" width="15"> Total UnSucessfull Test </h5>
                    <h5>{{TilesData?.TotalUnSucessfullTest || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="MTB Status" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="mtbstatusgraphdiv" style="width: 100%; height: 30rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="Rif Status" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="rifstatusgraphdiv" style="width: 100%; height: 30rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>


<div class="row" *ngIf="showTable">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="SCT View Data Month wise" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
                </ng-container>
            </kt-portlet-header>

            <kt-portlet-body>
                <table class="table table-striped table-bordered table-hover table-sm newView" id="tableId1">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" *ngFor="let month of TableData.TotalReportsDelivered">
                                {{month.monthYearLabel.split("'")[0] +" ("+ month.monthYearLabel.split("'").slice(1) + ")"}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td matTooltip=""><strong>Total Samples Collected</strong></td>
                            <td *ngFor="let month of TableData.TotalSampleCollected">{{month.TotalSamplesCollected}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Total Reports Delivered</strong></td>
                            <td *ngFor="let month of TableData.TotalReportsDelivered">{{month.TotalReportsDelivered}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Total Report Uploaded</strong></td>
                            <td *ngFor="let month of TableData.TotalReportUploaded">{{month.TotalReportUploaded}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Total Samples Pending Report Upload</strong></td>
                            <td *ngFor="let month of TableData.TotalSamplesPendingReportUpload">{{month.TotalSamplesPendingReportUpload}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Total Samples pending Report Delivery</strong></td>
                            <td *ngFor="let month of TableData.TotalSamplesPendingReportDelivery">{{month.TotalSamplesPendingReportDelivery}}</td>
                        </tr>
                        <!-- <tr>
                            <td matTooltip=""><strong>Average Overall TAT</strong></td>
                            <td *ngFor="let month of TableData.AverageOverallTAT">{{month.AverageOverallTAT}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Average Lab TAT</strong></td>
                            <td *ngFor="let month of TableData.AverageLabTAT">{{month.AverageLabTAT}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Sample Delivery TAT</strong></td>
                            <td *ngFor="let month of TableData.SampleDeliveryTAT">{{month.SampleDeliveryTAT}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Report Delivery TAT</strong></td>
                            <td *ngFor="let month of TableData.ReportDeliveryTAT">{{month.ReportDeliveryTAT}}</td>
                        </tr> -->
                        <tr>
                            <td matTooltip=""><strong>Total MTB Detected</strong></td>
                            <td *ngFor="let month of TableData.Total_MTBDetected_RIFDetected_UnSucessfullTest">{{month.TotalMtbDetected}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Total Rif Detected</strong></td>
                            <td *ngFor="let month of TableData.Total_MTBDetected_RIFDetected_UnSucessfullTest">{{month.TotalRifDetected}}</td>
                        </tr>
                        <tr>
                            <td matTooltip=""><strong>Unsuccessful</strong></td>
                            <td *ngFor="let month of TableData.Total_MTBDetected_RIFDetected_UnSucessfullTest">{{month.TotalUnSucessfullTest}}</td>
                        </tr>

                    </tbody>
                </table>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>