<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>FDC</mat-label>
    <mat-select placeholder="Select FDC" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let fdc of fdcData" [value]="fdc.value">
            {{ fdc.name }}
        </mat-option>
    </mat-select>
</mat-form-field>