<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="Complete Patient Details (This register is generated whenever a patient is registered and is updated for every voucher issued for the patient, this has combined)" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="filterForm">
                <div class="row">
                    <div class="col-md-2">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Registration Provider Type</mat-label>
                            <mat-select placeholder="Select Registration Provider Type" required formControlName="registrationType" multiple>
                                <mat-option #allRegistrationType (click)="selectAll()" [value]="0">All</mat-option>
                                <mat-option *ngFor="let type of registrationTypeList" (click)="selectSingle()" [value]="type.name">
                                    {{ type.name.key }}
                                </mat-option>

                            </mat-select>
                            <mat-error> Registration Provider Type Is Required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <span class="asterisk_input"> </span>
                            <div class="input-group mb-2 calendar-border">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <input readonly required class="form-control" style="height: calc(2.5em + 1.3rem + 2px) !important;border-left: 1px solid #646c9a" selectMode="range" formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" hour12Timer="true" placeholder="dd/MM/yyyy">
                                <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1></owl-date-time>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <span [matTooltip]="filterForm.valid == false ? 'Please select filter to get data':'Click to get data'">
                            <button class="btn btn-primary mt-2" [disabled]="!filterForm.valid" [ngClass]="{'not-allowed': filterForm.valid == false}" (click)="viewData()">Proceed &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </span>
                        <!-- <div class="d-flex justify-content-between"> -->
                        <button *ngIf="showDownloadButton " class="btn btn-success mt-2 mx-3" (click)="download() " matTooltip="Click to download raw data">Segregate Download <i class="fa fa-download "></i></button>
                        <button *ngIf="showDownloadButton " class="btn btn-success mt-2" (click)="downloadAggregatedData() " matTooltip="Click to download raw data">Aggregate Download <i class="fa fa-download "></i></button>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-3">
                        <circle-progress *ngIf="showProgress" style="float: left; height: 100px;" class="mx-2" [percent]="progresspercent" titleFontSize="30" subtitleFontSize="20"></circle-progress>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>