<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Field Officer</mat-label>
    <mat-select placeholder="Select Field Officer" [multiple]="multiple" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let fieldOfficer of fieldOfficerList" [value]="fieldOfficer.id">
            {{ fieldOfficer.name }}
        </mat-option>
    </mat-select>
</mat-form-field>