@import "../../../../../assets/sass/mat-table.scss";
.assign__btn {
    margin: -3.1rem 0 0 0.5rem;
}

.editable,
.non_editable {
    margin: 3px 0;
    color: #0b4403;
    font-weight: 500;
    &::before {
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 3px;
        background: #6dc171;
    }
}

.non_editable::before {
    content: "";
    background: #5867dd;
}

::ng-deep .mat-table-sticky-border-elem-right {
    border-left: 1px solid #000;
}

::ng-deep .mat-table-sticky-border-elem-left {
    border-right: 1px solid #000;
}