<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="Field Officer Activity Filter" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="filterForm" (ngSubmit)="viewData()">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Field Officer</mat-label>
                            <mat-select placeholder="Select Field Officer" required formControlName="fieldofficer" multiple>
                                <mat-option *ngFor="let fo of FOList" [value]="fo.id">
                                    {{ fo.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Field Officer is required !! </mat-error>
                        </mat-form-field>
                        <!-- <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate placeholder="Start date" formControlName="startDate">
                                    <input matEndDate placeholder="End date" formControlName="endDate">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div> -->

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="asterisk_input"> </span>
                            <div class="input-group mb-2 calendar-border">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <input readonly required class="form-control" style="height: calc(2.5em + 1.3rem + 2px) !important;border-left: 1px solid #646c9a" [min]="minDate" [max]="maxDate" selectMode="range" formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                    hour12Timer="true" placeholder="dd/MM/yyyy">
                                <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1></owl-date-time>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <button type="submit" class="mt-2" [disabled]="!filterForm.valid" color="primary" mat-raised-button>
                                <!-- <i class="fa fa-plus"></i>-->
                             Proceed <mat-icon class="pd-0">input</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>


<div class="col-md-12" [hidden]="!showTable">
    <kt-portlet>
        <kt-portlet-header title="Field Officer Activity Data" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z8">
                <input class="form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search" />
                <div style="overflow-y: hidden;">
                    <table mat-table [dataSource]="dataSource" #matSort="matSort" matSort class="w-100">
                        <ng-container matColumnDef="sn" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fieldOfficerName" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Officer Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.fieldOfficerName ? element.fieldOfficerName : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="submissionDate" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Field Activity </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.submissionDate ? (element.submissionDate | date:'dd-MM-yyyy hh:mm:ss a') : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="typeOfProvider" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Of Provider </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.typeOfProvider ? element.typeOfProvider : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ableToMeetProvider">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Able To Meet Provide </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.ableToMeetProvider ? element.ableToMeetProvider : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="providerName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider/compounder Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.providerName ? element.providerName : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="providerNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider Number </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.providerNumber ? element.providerNumber : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="facilityName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Facility Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.facilityName ? element.facilityName : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="facilityHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Facility HFID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.facilityHFID ? element.facilityHFID : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="objectiveOfVisit">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Objective Of Visit </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.objectiveOfVisit ? element.objectiveOfVisit : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="summaryOfInteractionWithProvider">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Summary Of Interaction With Provider </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.summaryOfInteractionWithProvider ? element.summaryOfInteractionWithProvider.join(', ') : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="compounderInteractionSummary">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Compounder Interaction Summary </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.compounderInteractionSummary ? element.compounderInteractionSummary.join(", "): '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="comments">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.comments ? element.comments : '-----'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>