<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="Inventory Management" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="inventoryForm" (ngSubmit)="addProduct()">
                <div class="row">
                    <!-- <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Products</mat-label>
                            <mat-select placeholder="Select Product" required formControlName="productId">
                                <input class="form-control" style="width: 100%" placeholder="Search..." (keyup)="
										searchProduct($event.target.value)
									" />
                                <mat-option *ngFor="let product of allProducts" [value]="product.id">
                                    {{ product.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Product is required !! </mat-error>
                        </mat-form-field>
                    </div> -->
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>SKU</mat-label>
                            <input matInput required formControlName="sku" placeholder="Enter SKU" />
                            <mat-error>
                                SKU is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Product Type</mat-label>
                            <input matInput required formControlName="productType" placeholder="Enter Product Type" />

                            <mat-error>
                                Product Type is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Content (mg)</mat-label>
                            <input matInput required formControlName="content" placeholder="Enter Content" />

                            <mat-error>
                                Content Type is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Adult/Pediatric</mat-label>
                            <mat-select placeholder="Select Adult/Pediatric" required formControlName="ageGroup">
                                <!-- <input class="form-control" style="width: 100%" placeholder="Search..." (keyup)="searchUser($event.target.value)" /> -->
                                <mat-option [value]="'Adult'">Adult</mat-option>
                                <mat-option [value]="'Pediatric'">Pediatric</mat-option>
                            </mat-select>
                            <mat-error>
                                Adult/Pediatric Type is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12 text-right">
                        <button type="submit" class="mt-2" [disabled]="!inventoryForm.valid" color="primary" mat-raised-button>
                                <!-- <i class="fa fa-plus"></i>-->
                            <mat-icon class="pd-0">add</mat-icon> Add Product  
                        </button>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>

<div class="col-md-12" [hidden]="!showAssignProductTable">
    <kt-portlet>
        <kt-portlet-header title="Stock Details [Last Updated At {{lastUpdated | date:'dd-MMM-yyyy hh:mm a'}}]" class="kt-portlet__head">
            <ng-container ktPortletTools>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="inventoryForm" (ngSubmit)="submitStock()">
                <div class="mat-elevation-z8">
                    <div style="overflow-y: hidden;">
                        <table mat-table [dataSource]="dataSource" #matSort="matSort" matSort formArrayName="productArray" class="w-100">
                            <ng-container matColumnDef="sn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                                <td mat-cell *matCellDef="let element; let i=index;"> {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.name ? element.name : '---'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.type ? element.type : '---'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="content">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Content (mg) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.content ? element.content : '---'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ageGroup">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age Group </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.ageGroup ? element.ageGroup : 0 }} </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.status===true? 'Active':'InActive' }} </td>
                            </ng-container>
                            <ng-container matColumnDef="previousBalance">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Previous Balance </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.previousBalance ? element.previousBalance : 0 }} </td>
                            </ng-container>
                            <ng-container matColumnDef="stockIn">
                                <th mat-header-cell *matHeaderCellDef style="background: #6dc171;border: 2px solid #6dc171;"> Stock In (Blister) </th>
                                <td mat-cell *matCellDef="let element; let i=index;" matTooltip="Can't Assign Stock As Product Is Inactive." [matTooltipDisabled]="element.status" [formGroupName]="getActualIndex(i)" class="readonly-wrapper" style="border: 2px solid #6dc171;">
                                    <input type="number" [ngClass]="{
                                        'readonly-block':element.status === false                                       
                                      }" matInput placeholder="Stock In" formControlName="stockIn">
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="actionStickyTh">
                                    Actions
                                </th>
                                <td mat-cell *matCellDef="let row; let i=index;" class="text-center actionStickyTd">
                                    <div>
                                        <!-- <button mat-icon-button aria-label="Edit Provider" matTooltip="Edit Provider" matTooltipPosition="above" class="pointer" color="primary" [disabled]="row.designation == 'fieldofficer' || row.designation == 'finance' ||  row.designation == 'sctagent' ||  row.designation == 'programmanager'"
                                                (click)="editProvider(row)">
                                                <mat-icon class="mb-2">edit</mat-icon>
                                              </button> -->
                                        <!-- <mat-icon >edit</mat-icon> -->
                                        <mat-slide-toggle matTooltip="Change Status" matTooltipPosition="above" [checked]="row.status == true" (change)="changeProductStatus(i, row)">
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.background-color]="row.status === true ? '' : '#ef9a9a'"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                    </mat-paginator>
                    <div class="row">
                        <div class="col-lg-6 assign__btn d-flex">
                            <p class="editable">Editable Fields</p>
                            <p class="ml-2 non_editable">Non-Editable Fields</p>
                        </div>
                    </div>
                </div>
                <button mat-raised-button class="mt-4" [disabled]="!inventoryForm.get('productArray').valid" color="primary">
                   Add Stock <span class="material-icons">playlist_add</span>
                </button>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>