<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="CBNAAT SCT Registered Filter" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="filterForm" (ngSubmit)="viewData()">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Registration Provider Type</mat-label>
                            <mat-select placeholder="Select Registration Provider Type" formControlName="registrationType" multiple>
                                <mat-option #allRegistrationType (click)="selectAll()" [value]="0">Select All</mat-option>
                                <mat-option *ngFor="let type of registrationTypeList" (click)="selectSingle()" [value]="type.name.value">
                                    {{ type.name.key }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Registration Provider Type Is Required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="asterisk_input"> </span>
                            <div class="input-group mb-2 calendar-border">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <input readonly required class="form-control" style="height: calc(2.5em + 1.3rem + 2px) !important;border-left: 1px solid #646c9a" [min]="minDate" [max]="maxDate" selectMode="range" formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                    hour12Timer="true" placeholder="dd/MM/yyyy">
                                <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1></owl-date-time>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <button type="submit" class="mt-2" [disabled]="!filterForm.valid" color="primary" mat-raised-button>
                                <!-- <i class="fa fa-plus"></i>-->
                             Proceed <mat-icon class="pd-0">input</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>

<div class="col-md-12" [hidden]="!showTable">
    <kt-portlet>
        <kt-portlet-header title="CBNAAT SCT Details" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z8">
                <input class="form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search " />
                <div style="overflow-y: hidden;">
                    <table mat-table [dataSource]="dataSource" #matSort="matSort" matSort class="w-100">
                        <ng-container matColumnDef="sn" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sampleCollectedAtPlace">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Collected At </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.sampleCollectedAtPlace ? element.sampleCollectedAtPlace : '---'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sctAgentName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> SCT Agent Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.sctAgentName ? element.sctAgentName : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="providerName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.providerName ? element.providerName : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="providerDesignation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Provider Type </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.providerDesignation ? element.providerDesignation : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="providerNikshayHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Nikshay HFID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.providerNikshayHFID ? element.providerNikshayHFID : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="fieldOfficerName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Field Officer Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.fieldOfficerName ? element.fieldOfficerName : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="patientNikshayId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Nikshay Id </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.patientNikshayId ? element.patientNikshayId : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="voucherGenerationTime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Generation Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.voucherGenerationTime ? (element.voucherGenerationTime | date:'dd-MM-yyyy hh:mm:ss a') : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="voucherCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Code </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.voucherCode ? element.voucherCode : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sampleCollectedAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sample Collected Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.sampleCollectedAt ? ( element.sampleCollectedAt | date:'dd-MM-yyyy hh:mm:ss a' ) : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="numberOfSample">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Samples </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.numberOfSample ? element.numberOfSample : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="sampleDeliveredToLabAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Delivered Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.sampleDeliveredToLabAt ? ( element.sampleDeliveredToLabAt | date:'dd-MM-yyyy hh:mm:ss a' ) : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="reportCollectionDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Collection Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.reportCollectionDate ? ( element.reportCollectionDate | date:'dd-MM-yyyy hh:mm:ss a' ) : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="reportDeliveryDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Delivery Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.reportDeliveryDate ? ( element.reportDeliveryDate | date:'dd-MM-yyyy hh:mm:ss a' ) : '---'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="testStatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Test Status </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.testStatus ? element.testStatus : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="resultMTB">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Result MTB </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.resultMTB ? element.resultMTB : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="resultRIFResistance">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Result RIF Resistance </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.resultRIFResistance ? element.resultRIFResistance : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="reportUploadedOnMIS">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Uploaded On MIS </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.reportUploadedOnMIS ? element.reportUploadedOnMIS : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sampleRejectedByLab">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Rejected By Lab </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.sampleRejectedByLab ? element.sampleRejectedByLab : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sampleRejectedByLabAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Rejected By Lab Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.sampleRejectedByLabAt ? ( element.sampleRejectedByLabAt | date:'dd-MM-yyyy hh:mm:ss a' ) : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sampleRejectedByLabReason">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Rejected By Lab Reason </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.sampleRejectedByLabReason ? element.sampleRejectedByLabReason : '---'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>