<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>CBNAAT Offered</mat-label>
    <mat-select placeholder="Select CBNAAT Offered" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let cbnaat of cbnaatData" [value]="cbnaat.value">
            {{ cbnaat.name }}
        </mat-option>
    </mat-select>
</mat-form-field>