table.newView th {
    border-width: 1px;
    border-color: #a5a5a5;
    border-style: solid;
    padding: 0.6em 1em;
    color: white;
}

table.newView thead {
    background-color: #5867dd;
}

@import '~@angular/material/theming';
.indicator-container {
    margin: 0;
    padding: 0;
    & .indicator-checkbox {
        margin-right: 1rem;
    }
}

.card {
    &:hover {
        @include mat-elevation(13);
        box-shadow: 1px 6px 5px -2px rgb(141, 62, 65), 0px 3px 4px 1px rgb(141, 62, 65);
        // @include mat-elevation-transition;
        // animation: move 10s ease-in-out 1s infinite alternate both;
        animation: move 1s ease-in-out 1s alternate both;
        animation-delay: 0s;
    }
}

// @keyframes move {
//   100% {
//     transform: translatey(-15px);
//   }
// }
.has-background-gradient-red {
    background: linear-gradient(90deg, #fd676b, #b83336 66%);
    color: white;
    & .my-icon {
        background: #fd676b;
    }
}

.has-background-gradient-yellow {
    background: linear-gradient(90deg, rgb(228, 223, 126) 28%, rgb(219, 214, 52) 100%);
    color: white;
    & .my-icon {
        background: rgb(233, 229, 141);
    }
}

.has-background-gradient-purple {
    background: linear-gradient(90deg, rgba(170, 150, 226, 1) 28%, rgba(150, 65, 214, 1) 100%);
    color: white;
    & .my-icon {
        background: rgb(170, 150, 226)
    }
}

.has-background-gradient-blue {
    background: rgb(179, 186, 255);
    background: linear-gradient(90deg, rgba(179, 186, 255, 1) 0%, rgba(125, 143, 255, 1) 66%);
    color: white;
}

.has-background-gradient-blue .my-icon {
    background: rgba(179, 186, 255, 0.9);
}

.has-background-gradient-brown {
    background: #fd676b;
    background: linear-gradient(90deg, #fd676b, #b83336 66%);
    color: white;
}

.has-background-gradient-brown .my-icon {
    background: #fd676b;
}

.has-background-gradient-teal {
    background: rgb(182, 225, 221);
    background: linear-gradient(90deg, rgba(182, 225, 221, 1) 0%, rgba(38, 166, 154, 1) 66%);
    color: white;
}

.has-background-gradient-teal .my-icon {
    background: rgba(182, 225, 221, 0.9);
}

.has-background-gradient-green {
    background: linear-gradient(90deg, #90d472 0%, #5ec85a 66%);
    color: white;
}

.has-background-gradient-green .my-icon {
    background: rgba(147, 223, 148, 0.9);
}

.has-background-gradient-pink {
    background: linear-gradient(90deg, #c88f5a 0%, #a60059 66%);
    color: white;
}

.has-background-gradient-pink .my-icon {
    background: rgba(223, 181, 147, 0.9);
}

.card {
    border-radius: 8px;
    margin-bottom: 10px;
}

.my-card {
    min-height: 46px;
    margin-top: 13px;
    border: none;
    display: flex;
    & .left-value {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        white-space: pre;
    }
    & .right-value {
        white-space: pre;
    }
    & h2 {
        margin-bottom: 0;
    }
}

.my-card .my-icon {
    border-radius: 8px;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 40px;
    }
}

.card-name {
    text-align: center;
    margin-bottom: 10px;
}