<!-- <pre>{{filterForm.value|json}}</pre> -->
<div class="row">
    <div class="col-sm-2">
        <kt-field-officer [multiple]=true (valueChange)="getFieldOfficer($event)"></kt-field-officer>
    </div>
    <div class="col-sm-2">
        <kt-designation [multiple]=true (valueChange)="getDesignation($event)"></kt-designation>
    </div>
    <div class="col-sm-2">
        <kt-provider [multiple]=true (valueChange)="getProvider($event)" #callProviderComponent></kt-provider>
    </div>
    <div class="col-sm-2">
        <kt-time-period [date]="fromDateToDate" (valueChange)="getDateRange($event)"></kt-time-period>
    </div>
    <div class="col-sm-2">
        <kt-site-of-disease (valueChange)="getSiteOfDisease($event)"></kt-site-of-disease>
    </div>
    <div class="col-sm-2">
        <kt-cxr-offered (valueChange)="getCXROffered($event)"></kt-cxr-offered>
    </div>
    <div class="col-sm-2">
        <kt-cbnaat-offered (valueChange)="getCBNAATOffered($event)"></kt-cbnaat-offered>
    </div>
    <div class="col-sm-2">
        <kt-fdc (valueChange)="getFDC($event)"></kt-fdc>
    </div>
</div>

<div class="row mb-2">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-sm-12">
                    <div class="card has-background-gradient-red">
                        <div class="my-card">
                            <div class="my-auto mx-auto">
                                <span class="my-icon py-1 px-2">
                                        <img src="assets/media/icons/stakeholders/patient.svg" width="65" alt="patient">
                                    </span>
                            </div>
                            <div class="my-auto px-4 text-center">
                                <h2>{{ tilesData?.totalPatient || 0}}</h2>
                            </div>
                        </div>
                        <div class="card-name">
                            <hr>
                            <h5 class="mb-1"># Total </h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="col-sm-12">
                    <div class="card has-background-gradient-teal">
                        <div class="my-card">
                            <div class="my-auto mx-auto">
                                <span class="my-icon py-1 px-2">
                            <img src="assets/media/icons/stakeholders/chemist.svg" width="65" alt="Chemist">
                        </span>
                            </div>
                            <div class="my-auto px-4 text-center">
                                <h2>{{ tilesData?.totalEnrollmentChemist || 0}}</h2>
                            </div>
                        </div>
                        <div class="card-name">
                            <hr>
                            <h5 class="mb-1"># Chemist </h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card has-background-gradient-green">
                        <div class="my-card">
                            <div class="my-auto mx-auto">
                                <span class="my-icon py-1 px-2">
                            <img src="assets/media/icons/stakeholders/empanelledchemist.svg" width="65"
                                alt="Empanelled Chemist">
                        </span>
                            </div>
                            <div class="my-auto px-4 text-center">
                                <h2>{{tilesData?.totalEnrollmentEmpanelledChemist || 0}}</h2>
                            </div>
                        </div>
                        <div class="card-name">
                            <hr>
                            <h5 class="mb-1"># Empanelled Chem. </h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="card has-background-gradient-pink">
                        <div class="my-card">
                            <div class="my-auto mx-auto">
                                <span class="my-icon py-1 px-2">
                                    <img src="assets/media/icons/stakeholders/sct-delivery.svg" width="65" alt="SCT Agent">
                                </span>
                            </div>
                            <div class="my-auto px-4 text-center">
                                <h2>{{ tilesData?.totalEnrollmentSCTAgent || 0}}</h2>
                            </div>
                        </div>
                        <div class="card-name">
                            <hr>
                            <h5 class="mb-1"># SCT Agent </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-sm-12">
                    <div class="card has-background-gradient-yellow">
                        <div class="my-card">
                            <div class="my-auto mx-auto">
                                <span class="my-icon py-1 px-2">
                            <img src="assets/media/icons/stakeholders/doctor.svg" width="65" alt="Doctor">
                        </span>
                            </div>
                            <div class="my-auto px-4 text-center">
                                <h2>{{ tilesData?.totalEnrollmentGeneralDoctor || 0}}</h2>
                            </div>
                        </div>
                        <div class="card-name">
                            <hr>
                            <h5 class="mb-1"># General Doctor </h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card has-background-gradient-blue">
                        <div class="my-card">
                            <div class="my-auto mx-auto">
                                <span class="my-icon py-1 px-2">
                            <img src="assets/media/icons/stakeholders/AYUSHProvider.svg" width="65"
                                alt="AYUSH Provider">
                        </span>
                            </div>
                            <div class="my-auto px-4 text-center">
                                <h2>{{tilesData?.totalEnrollmentAyushProvider || 0}}</h2>
                            </div>
                        </div>
                        <div class="card-name">
                            <hr>
                            <h5 class="mb-1"># AYUSH Provider </h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card has-background-gradient-purple">
                        <div class="my-card">
                            <div class="my-auto mx-auto">
                                <span class="my-icon py-1 px-2">
                            <img src="assets/media/icons/stakeholders/empanelleddoctor.png" width="65"
                                alt="Empanelled Doctor">
                        </span>
                            </div>
                            <div class="my-auto px-4 text-center">
                                <h2>{{tilesData?.totalEnrollmentEmpanelledDoctor || 0}}</h2>
                            </div>
                        </div>
                        <div class="card-name">
                            <hr>
                            <h5 class="mb-1"># Empanelled Doctor </h5>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="col-xl-8">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Enrollment By User Type'" style="min-height: 50px;"></kt-portlet-header>

            <kt-portlet-body>

                <div id="chartdiv3" style="width: 100%; height: 30rem"></div>
                <!-- <hr>
                                <h5 class="text-center">Lead Generators For Treatment Initiation</h5> -->


            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>
<div class="row" *ngIf="showEnrollmentByUserTypeDateWise">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Day Enrollment By User Type'" style="min-height: 35px;"></kt-portlet-header>

            <kt-portlet-body>
                <div class="row">
                    <div class="position-relative col-xl-12">
                        <div id="chartdivenrollmentbyusertypedatewise" style="width: 100%; height: 30rem"></div>
                        <!-- <hr>
                        <h5 class="text-center">Lead Generators For Treatment Initiation</h5> -->

                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>
<div class="col-sm-12">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
        <kt-portlet-header [title]="'Enrollment Running Total'" style="min-height: 35px;"></kt-portlet-header>

        <kt-portlet-body>
            <div class="row">
                <div class="position-relative col-xl-12">
                    <div id="chartdiv" style="width: 100%; height: 30rem"></div>
                    <!-- <hr>
                        <h5 class="text-center">Lead Generators For Treatment Initiation</h5> -->

                </div>
            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>
<div class="row" *ngIf="showEnrollmentViewDateWiseGraph">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Day Enrollment Running Total'" style="min-height: 35px;"></kt-portlet-header>

            <kt-portlet-body>
                <div class="row">
                    <div class="position-relative col-xl-12">
                        <div id="chartdivdatewise" style="width: 100%; height: 30rem"></div>
                        <!-- <hr>
                            <h5 class="text-center">Lead Generators For Treatment Initiation</h5> -->

                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>
<!-- <pre>{{filterForm.value|json}}</pre> -->
<div class="row">
    <div class="col-sm-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Confirmation Type'" style="min-height: 50px;">
                <ng-container ktPortletTools>
                    <div [hidden]="!showToggleConfirmationType">
                        <mat-slide-toggle checked=false (change)="toggleConfirmationTypeMonthWise($event)">Month Wise
                        </mat-slide-toggle>
                    </div>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>

                <div id="chartdiv2" style="width: 100%; height: 30rem"></div>
                <!-- <hr>
                            <h5 class="text-center">Lead Generators For Treatment Initiation</h5> -->


            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Direct Notification Running Total'" style="min-height: 35px;">
            </kt-portlet-header>

            <kt-portlet-body>
                <div class="row">
                    <div class="position-relative col-xl-12">
                        <div id="directNotification" style="width: 100%; height: 30rem"></div>
                        <!-- <hr>
                            <h5 class="text-center">Lead Generators For Treatment Initiation</h5> -->

                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-sm-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Direct Notification By User Type'" style="min-height: 50px;">
            </kt-portlet-header>
            <kt-portlet-body>
                <div id="notificationByUserType" style="width: 100%; height: 30rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="Enrollment View Filter" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <form autocomplete="off" [formGroup]="filterForm" (ngSubmit)="getMonthOnMonthEnrollmentViewDashboard()">
                        <div class="row">
                            <div class="col-md-8">
                                <div>
                                    <span class="asterisk_input"> </span>
                                    <div class="input-group calendar-border">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
                                            </div>
                                        </div>
                                        <input readonly required class="form-control" style="height: calc(2.5em + 1.3rem + 2px) !important;border-left: 1px solid #646c9a" selectMode="range" formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" hour12Timer="true" placeholder="dd/MM/yyyy">
                                        <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1>
                                        </owl-date-time>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="mt-2" [disabled]="!filterForm.valid" color="primary" mat-raised-button> Proceed <mat-icon class="pd-0">input</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </ng-container>
            </kt-portlet-header>
        </kt-portlet>
    </div>
</div>

<div class="row" *ngIf="showTable">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="Enrollment View Data Month wise" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
                </ng-container>
            </kt-portlet-header>

            <kt-portlet-body>
                <table class="table table-striped table-bordered table-hover table-sm newView" id="tableId1">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" *ngFor="let month of tableData.totalEnrollment">
                                {{month.monthYearName.split("'")[0] +" ("+ month.monthYearName.split("'").slice(1) + ")"}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td matTooltip="Total patients or suspects(OTP Verfied)"><strong>Number of people with
                                    presumptive TB</strong></td>
                            <td *ngFor="let month of tableData.numberoFPeopleWithPresumptiveTB">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patients enrolled in the system.(Start Treatment)"><strong>Total
                                    Enrollment</strong></td>
                            <td *ngFor="let month of tableData.totalEnrollment">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with CXR or no test"><strong>Clinical
                                    Diagnosis</strong></td>
                            <td *ngFor="let month of tableData.clinicalDiagnosis">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with CBNAAT positive test."><strong>Microbiologically
                                    Confirmed</strong></td>
                            <td *ngFor="let month of tableData.microBiologicallyConfirmed">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with Site of disease as PTB."><strong>PTB</strong>
                            </td>
                            <td *ngFor="let month of tableData.totalPTB">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with Site of disease as EPTB."><strong>EPTB</strong>
                            </td>
                            <td *ngFor="let month of tableData.totalEPTB">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Treatment Started"><strong>Treatment initiated</strong></td>
                            <td *ngFor="let month of tableData.treatmentInitiated">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patients not enrolled.(Treatment not started yet)"><strong>Treatment
                                    not initiated</strong></td>
                            <td *ngFor="let month of tableData.treatmentNotInitiated">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled who were registered by AYUSH Provider."><strong>AYUSH
                                    Provider</strong></td>
                            <td *ngFor="let month of tableData.ayushProviderTotal">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled who were registered by General Doctor.">
                                <strong>General Doctor</strong></td>
                            <td *ngFor="let month of tableData.generaldoctorTotal">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled who were registered by Empanelled Doctor.">
                                <strong>Empanelled Doctor</strong></td>
                            <td *ngFor="let month of tableData.empanelleddoctorTotal">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled who were registered by Chemist.">
                                <strong>Chemists</strong></td>
                            <td *ngFor="let month of tableData.chemistTotal">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled who were registered by Empanelled Chemist.">
                                <strong>Empanelled Chemist</strong></td>
                            <td *ngFor="let month of tableData.empanelledchemistTotal">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled who were registered by Lab"><strong>Lab</strong></td>
                            <td *ngFor="let month of tableData.labTotal">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with age <15"><strong>Pediatric Patients (
                                    <15 years)</strong>
                            </td>
                            <td *ngFor="let month of tableData.pediatricPatients">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with age >= 15"><strong>Adult Patients (>15
                                    years)</strong></td>
                            <td *ngFor="let month of tableData.adultPatients">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with Gender Male."><strong>Male</strong></td>
                            <td *ngFor="let month of tableData.male">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with Gender Female."><strong>Female</strong></td>
                            <td *ngFor="let month of tableData.female">{{month.count}}</td>

                        </tr>
                        <tr>
                            <td matTooltip="Total patient enrolled with Gender Transgender.">
                                <strong>Transgender</strong></td>
                            <td *ngFor="let month of tableData.other">{{month.count}}</td>

                        </tr>
                    </tbody>
                </table>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>