    <div class="input-group mt-1 calendar-border">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
            </div>
        </div>
        <input [(ngModel)]="date" readonly required class="input form-control" selectMode="range"  (dateTimeChange)='changedValue($event.value)' [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
            hour12Timer="true" placeholder="dd/MM/yyyy">
        <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1></owl-date-time>

    </div>
