<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="Direct Notification Filter" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="filterForm" (ngSubmit)="viewData()">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Registration Provider Type</mat-label>
                            <mat-select placeholder="Select Registration Provider Type" required formControlName="registrationType" multiple>
                                <mat-option #allRegistrationType (click)="selectAll()" [value]="0">All</mat-option>
                                <mat-option *ngFor="let type of registrationTypeList" (click)="selectSingle()" [value]="type.name.value">
                                    {{ type.name.key }}
                                </mat-option>

                            </mat-select>
                            <mat-error> Registration Provider Type Is Required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="asterisk_input"> </span>
                            <div class="input-group mb-2 calendar-border">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <input readonly required class="form-control" style="height: calc(2.5em + 1.3rem + 2px) !important;border-left: 1px solid #646c9a" [min]="minDate" [max]="maxDate" selectMode="range" formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                    hour12Timer="true" placeholder="dd/MM/yyyy">
                                <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1></owl-date-time>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <button type="submit" class="mt-2" [disabled]="!filterForm.valid" color="primary" mat-raised-button>
                                <!-- <i class="fa fa-plus"></i>-->
                             Proceed <mat-icon class="pd-0">input</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>
<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
</div>
<div class="col-md-12" [hidden]="!showTable">
    <kt-portlet>
        <kt-portlet-header title="Direct Notification Register" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z8">
                <input class="form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search" />
                <div style="overflow-y: hidden;">
                    <table mat-table [dataSource]="dataSource" #matSort="matSort" matSort class="w-100">
                        <ng-container matColumnDef="sn" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="RegistrationFacilityName" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Facility Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RegistrationFacilityName ? element.RegistrationFacilityName : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="RegistrationProviderName" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RegistrationProviderName ? element.RegistrationProviderName : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="RegistrationProviderId" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Provider ID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RegistrationProviderId ? element.RegistrationProviderId : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="RegistrationProvidertype">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Provider Type </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.RegistrationProvidertype ? element.RegistrationProvidertype : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="PatientName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientName ? element.PatientName : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="PatientPhoneNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient Phone Number </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientPhoneNumber ? element.PatientPhoneNumber : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="PatientID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient ID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientID ? element.PatientID : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="PatientRegistrationDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Registration Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientRegistrationDate ? (element.PatientRegistrationDate | date:'dd-MM-yyyy hh:mm:ss a') : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="PatientAge">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientAge ? element.PatientAge: '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="PatientGender">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientGender ? (element.PatientGender |titlecase): '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="TBSymptoms">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TB Symptoms </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.TBSymptoms ? element.TBSymptoms.join(', ') : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="prescription">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prescription </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <!-- {{element?.prescription ? element.prescription: '-----' }}  -->
                                <span class="eye text-primary" matTooltip="Click To View Prescription" (click)="downloadFile(element.fileContainer, element.fileName)"><i class="fa fa-eye " aria-hidden="true"></i> View
                                </span>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>