.has-background-gradient-teal {
	background: linear-gradient(
		90deg,
		rgba(182, 225, 221, 1) 0%,
		rgba(38, 166, 154, 1) 66%
	);
	color: white;
	& .my-icon {
		background: rgba(182, 225, 221, 0.9);
	}
}
.has-background-gradient-green {
	background: linear-gradient(90deg, #90d472 0%, #5ec85a 66%);
	color: white;
	& .my-icon {
		background: rgba(147, 223, 148, 0.9);
	}
}

.has-background-gradient-blue {
	background: linear-gradient(
		90deg,
		rgba(179, 186, 255, 1) 0%,
		rgba(125, 143, 255, 1) 66%
	);
	color: white;
	& .my-icon {
		background: rgba(179, 186, 255, 0.9);
	}
}
.has-background-gradient-brown {
	background: linear-gradient(90deg, #fd676b, #b83336 66%);
	color: white;
	& .my-icon {
		background: #fd676b;
	}
}

.has-background-gradient-yellow {
	background: linear-gradient(90deg, #dcd668 28%, #d0cb37 100%);
	color: white;
	& .my-icon {
		background: rgb(233, 229, 141);
	}
}
.tiles {
	@media (max-width: 600px) {
		margin-bottom: 3rem;
	}
}

.card {
	border-radius: 8px;
	margin-bottom: 10px;
}

.my-card {
	border: none;
	display: flex;
	height: 4rem;
	& .my-icon {
		border-radius: 8px;
		font-size: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.count {
	font-size: 2rem;
    font-weight: 500;
}
.card-position {
	position: relative;
	top: -35px;
	left: 15px;
}
.card-separator {
	margin: 0 !important;
}
.card-details-outer {
    display: flex;
    padding: 1.5rem;
    height: 4rem;
    margin-top: 0.3rem;
	& .card-details-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0.2rem;
	}
}
