<div class="row">
    <div class="col-sm-2">
        <kt-designation [multiple]=true (valueChange)="getDesignation($event)"></kt-designation>
    </div>
    <div class="col-sm-2">
        <kt-provider [multiple]=true (valueChange)="getProvider($event)" #callProviderComponent></kt-provider>
    </div>
    <!-- <div class="col-sm-2">
        <kt-time-period [date]="fromDateToDate" (valueChange)="getDateRange($event)"></kt-time-period>
    </div> -->
    <div class="col-sm-2">
        <kt-month-year (valueChange)="monthYearValue($event)"></kt-month-year>
    </div>
</div>

<div class="row mt-5 mb-2" [formGroup]="checkboxForm">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles" matTooltip="TTotal Billable Amount">
        <div class="card has-background-gradient-teal">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/due_rupee.png" width="65" alt="totalAmountDue">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right count">₹{{dataOfTiles?.totalAmountDue}}</h4>
                </div>
                <mat-checkbox formControlName="totalAmountDue"></mat-checkbox>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5> Total Billable Amount</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-blue">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/rupee.png" width="65" alt="totalInvoiceAmount">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right count">₹{{dataOfTiles?.totalInvoiceAmount}}</h4>
                </div>
                <mat-checkbox formControlName="totalInvoiceAmount"></mat-checkbox>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5>Total Billed Amount</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-yellow">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/rupee.png" width="65" alt="voucherAcceptedAmount">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right count">₹{{dataOfTiles?.voucherAcceptedAmount}}</h4>
                </div>
                <mat-checkbox formControlName="voucherAcceptedAmount"></mat-checkbox>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5>Amount approved for payment </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-green">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/amount_paid.png" width="65" alt="paymentsMade">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right count">₹{{dataOfTiles?.paymentsMade}}</h4>
                </div>
                <mat-checkbox formControlName="paymentsMade"></mat-checkbox>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5>Amount Paid</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" *ngIf="totalAmountDue">
        <kt-funnel-chart [data]="dataOfTiles"></kt-funnel-chart>
    </div>
    <div class="col-sm-8" *ngIf="totalAmountDue">
        <kt-amount-due-by-payment-type [form]="dynamicform"></kt-amount-due-by-payment-type>
    </div>
    <div class="col-sm-8" *ngIf="totalAmountDue">
        <kt-amount-due-by-user-type [title]="'Total amount due for the period split by User Type'" [data]="amountDueByUserTypeData" [graphId]="'amountDueByUserTypeData'"></kt-amount-due-by-user-type>
    </div>
    <div class="col-sm-4" *ngIf="totalInvoiceAmount">
        <kt-pie-chart [data]="raisedInvoicePieChartData" [graphId]="'raisedInvoicePieChartData'" [title]="'Total amount due for the period'"></kt-pie-chart>
    </div>
    <div class="col-sm-8" *ngIf="totalInvoiceAmount">
        <kt-amount-due-by-user-type [title]="'Total amount for which invoices have not been raised split by User Type'" [data]="invoiceNotRaisedByUserTypeData" [graphId]="'invoiceNotRaisedByUserTypeData'">
        </kt-amount-due-by-user-type>
    </div>
    <div class="col-sm-4" *ngIf="voucherAcceptedAmount">
        <kt-pie-chart [data]="acceptedRejectedPieChartData" [graphId]="'acceptedRejectedPieChartData'" [title]="'Total amount for which invoices have been raised for the period'"></kt-pie-chart>
    </div>
    <div class="col-sm-8" *ngIf="voucherAcceptedAmount">
        <kt-amount-due-by-user-type [title]="'Total amount rejected for the period split by Reason for rejection'" [data]="amountRejectedGroupByReasonData" [graphId]="'amountRejectedGroupByReasonData'">
        </kt-amount-due-by-user-type>
    </div>
    <div class="col-sm-4" *ngIf="paymentsMade">
        <kt-pie-chart [data]="paymentsProcessedRejectedOpenPieChartData" [graphId]="'paymentsProcessedRejectedOpenPieChartData'" [title]="'Total payments due for the month'">
        </kt-pie-chart>
    </div>
</div>