.has-background-gradient-teal {
	background: linear-gradient(
		90deg,
		rgba(182, 225, 221, 1) 0%,
		rgba(38, 166, 154, 1) 66%
	);
	color: white;
	& .my-icon {
		background: rgba(182, 225, 221, 0.9);
	}
}
.has-background-gradient-green {
	background: linear-gradient(90deg, #90d472 0%, #5ec85a 66%);
	color: white;
	& .my-icon {
		background: rgba(147, 223, 148, 0.9);
	}
}

.has-background-gradient-blue {
	background: linear-gradient(
		90deg,
		rgba(179, 186, 255, 1) 0%,
		rgba(125, 143, 255, 1) 66%
	);
	color: white;
	& .my-icon {
		background: rgba(179, 186, 255, 0.9);
	}
}
.has-background-gradient-brown {
	background: linear-gradient(90deg, #fd676b, #b83336 66%);
	color: white;
	& .my-icon {
		background: #fd676b;
	}
}

.has-background-gradient-yellow {
	background: linear-gradient(90deg, #dcd668 28%, #d0cb37 100%);
	color: white;
	& .my-icon {
		background: rgb(233, 229, 141);
	}
}
.tiles {
	@media (max-width: 600px) {
		margin-bottom: 3rem;
	}
}

.card {
	border-radius: 8px;
	margin-bottom: 10px;
}

.my-card {
	border: none;
	display: flex;
	height: 4rem;
	& .my-icon {
		border-radius: 8px;
		font-size: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.card-position {
	position: relative;
	top: -35px;
	left: 15px;
}
.card-separator {
	margin: 0 !important;
}
.card-details-outer {
	padding: 1rem;
	height: 4rem;
	margin-top: 0.3rem;
	& .card-details-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0.2rem;
	}
}

.tableTitleText {
	width: 40rem;
}
// :host {
// }
::ng-deep {
	.filter_box {
		position: fixed;
	top: 0;
	background: #fafafb;
	z-index: 99;
	left: -100%;
	height: 100vh;
	overflow: auto;
	padding: 28px;
	width: 25%;
	box-shadow: 5px 16px 111px rgba(132,138,154,28%);
	&::-webkit-scrollbar {
		width: 0;
	}
}
.filterToggleButton {
	position: fixed;
	z-index: 100;
	transform: rotate(-90deg) translateY(-50%);
	left: -17px;
	top: 50vh;
	padding: 5px 20px;
	opacity: 0.8;
	font-size: large;
	font-weight: 500;
	border-radius: 6px;
	letter-spacing: 0.02rem;
	&:hover{
		opacity: 1;
	}
}
.toggle_filter_box {
	left:0;
	transition: 0.4s;
	@media (max-width:767px) {
		width: 90% 
	}
}
.toggle_filter_button {
	left:calc(25% - 17px);
	transition: 0.4s;
	@media (max-width:767px) {
		left: calc(90% - 17px) 
	}
}
}
