<button class="btn ml-2 btn-primary filterToggleButton" (click)="toggleFilter()" #toggle>Filters</button>
<div class="filter_box" #filter>
    <div class="filter_element">
        <kt-field-officer [multiple]=true (valueChange)="getFieldOfficer($event)"></kt-field-officer>
    </div>
    <div class="filter_element">
        <kt-designation [multiple]=true (valueChange)="getDesignation($event)"></kt-designation>
    </div>
    <div class="filter_element">
        <kt-provider [multiple]=true (valueChange)="getProvider($event)" #callProviderComponent></kt-provider>
    </div>
    <div class="filter_element mb-4">
        <kt-time-period [date]="fromDateToDate" (valueChange)="getDateRange($event)"></kt-time-period>
    </div>
    <div class="filter_element">
        <kt-site-of-disease (valueChange)="getSiteOfDisease($event)"></kt-site-of-disease>
    </div>
    <div class="filter_element">
        <kt-cxr-offered (valueChange)="getCXROffered($event)"></kt-cxr-offered>
    </div>
    <div class="filter_element">
        <kt-cbnaat-offered (valueChange)="getCBNAATOffered($event)"></kt-cbnaat-offered>
    </div>
    <div class="filter_element">
        <kt-fdc (valueChange)="getFDC($event)"></kt-fdc>
    </div>
</div>
<div class="row mt-5 mb-2">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-teal">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/total.svg" width="65" alt="Chemist">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right">Total Providers</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5>
                        <img src="assets/media/icons/stakeholders/check.svg" alt="total enrollment" width="15"> Count </h5>
                    <h5>{{dataOfTiles?.totalProviders || 0}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-blue">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/doctor.svg" width="65" alt="ActiveProviders">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right">Active Providers</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5><img src="assets/media/icons/stakeholders/check.svg" alt="voucher issue" width="15"> Count</h5>
                    <h5>{{dataOfTiles?.activeProviders || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-yellow">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/unique.svg" width="65" alt="Unique providers">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right">Unique Provider Visited</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5><img src="assets/media/icons/stakeholders/check.svg" alt="--" width="15"> Count </h5>
                    <h5>{{dataOfTiles?.uniqueProviders || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 tiles">
        <div class="card has-background-gradient-brown">
            <div class="my-card">
                <div class="card-position">
                    <span class="my-icon py-1 px-2">
                        <img src="assets/media/icons/stakeholders/average.svg" width="65" alt="Chemist">
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-end text-right px-3 w-100">
                    <h4 class="float-right">Visits Per Day</h4>
                </div>
            </div>
            <hr class="card-separator">
            <div class="card-details-outer">
                <div class="card-details-inner">
                    <h5><img src="assets/media/icons/stakeholders/check.svg" alt="" width="15"> Average </h5>
                    <h5>{{dataOfTiles?.avgVisitsPerDay || 0}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="Visit Data by User Type" style="min-height: 50px;">
                <ng-container ktPortletTools>
                    <mat-slide-toggle [checked]="!showVisitDataToggleButton" [hidden]="!showVisitDataToggleButton" (change)="toggleDataByUserType($event)">Month Wise
                    </mat-slide-toggle>
                </ng-container>
            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="visitDataByUserType" style="width: 100%; height: 40rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-sm-6">
        <kt-portlet>
            <kt-portlet-header title="Consultation by User Type" style="min-height: 50px;">
                <ng-container ktPortletTools>
                    <mat-slide-toggle [checked]="!showConsultaionDataToggleButton" [hidden]="!showConsultaionDataToggleButton" (change)="toggleShowConsultaionDataToggle($event)">Month Wise
                    </mat-slide-toggle>
                </ng-container>
            </kt-portlet-header>

            <kt-portlet-body class="kt-padding-0">
                <div id="consultationByUserType" style="width: 100%; height: 40rem"></div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="Visit & Service Performance Data" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
                </ng-container>
            </kt-portlet-header>

            <kt-portlet-body>
                <div class="overflow-auto">
                    <table class="table table-striped table-bordered table-hover table-sm newView" id="tableId1">
                        <thead>
                            <tr>
                                <th scope="col" class="tableTitleText">#</th>
                                <th scope="col" *ngFor="let month of visitDataTable?.totalProviders">
                                    {{month?.monthYearName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background: #d4d9ff">
                                <th scope="col" class="tableTitleText">Visit Data</th>
                                <th scope="col" *ngFor="let month of visitDataTable?.totalProviders"></th>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total number of Visits (total successful visits where provider was available)</strong></td>
                                <td *ngFor="let month of visitDataTable?.totalProviders">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total Providers marked Active (users registered – users marked inactive)</strong></td>
                                <td *ngFor="let month of visitDataTable?.activeProviders">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total unique engaged providers (total unique providers visited)</strong></td>
                                <td *ngFor="let month of visitDataTable?.uniqueProviders">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Average Visits Per Day</strong></td>
                                <td *ngFor="let month of visitDataTable?.avgVisitsPerDay">{{month?.count}}</td>
                            </tr>
                            <tr style="background: #d4d9ff">
                                <th scope="col" class="tableTitleText">Service Performance</th>
                                <th scope="col" *ngFor="let month of visitDataTable?.totalProviders"></th>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total Notifications</strong></td>
                                <td *ngFor="let month of servicePerformanceDataSource?.totalNotifications">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total X-Ray vouchers disbursed from chemists engaged (%)</strong></td>
                                <td *ngFor="let month of servicePerformanceDataSource?.CXR">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total Doctor consultation vouchers disbursed from labs engaged (%)</strong></td>
                                <td *ngFor="let month of servicePerformanceDataSource?.DOCTORCONSULTATION">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total FDC voucher disbursed from providers engaged (%)</strong></td>
                                <td *ngFor="let month of servicePerformanceDataSource?.FDC">{{month?.count}}</td>
                            </tr>
                            <tr>
                                <td class="tableTitleText"><strong>Total CBNAAT voucher disbursed from providers engaged (%)</strong></td>
                                <td *ngFor="let month of servicePerformanceDataSource?.CBNAAT">{{month?.count}}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>