<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="Chest X-Ray Registered Filter" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="filterForm" (ngSubmit)="viewData()">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Registration Provider Type</mat-label>
                            <mat-select placeholder="Select Registration Provider Type" formControlName="registrationType" multiple>
                                <mat-option #allRegistrationType (click)="selectAll()" [value]="0">Select All</mat-option>
                                <mat-option *ngFor="let type of registrationTypeList" (click)="selectSingle()" [value]="type.name.value">
                                    {{ type.name.key }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Registration Provider Type Is Required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="asterisk_input"> </span>
                            <div class="input-group mb-2 calendar-border">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <input readonly required class="form-control" style="height: calc(2.5em + 1.3rem + 2px) !important;border-left: 1px solid #646c9a" [min]="minDate" [max]="maxDate" selectMode="range" formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                    hour12Timer="true" placeholder="dd/MM/yyyy">
                                <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1></owl-date-time>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <button type="submit" class="mt-2" [disabled]="!filterForm.valid" color="primary" mat-raised-button>
                                <!-- <i class="fa fa-plus"></i>-->
                             Proceed <mat-icon class="pd-0">input</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>

<div class="col-md-12" [hidden]="!showTable">
    <kt-portlet>
        <kt-portlet-header title="Chest X-Ray Details" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z8">
                <input class="form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search " />
                <div style="overflow-y: hidden;">
                    <table mat-table [dataSource]="dataSource" #matSort="matSort" matSort class="w-100">
                        <ng-container matColumnDef="sn" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="registrationFacilityName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Facility Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.registrationFacilityName ? element.registrationFacilityName : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="registrationProviderName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.registrationProviderName ? element.registrationProviderName : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="registrationProviderId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rgistration Provider Id </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.registrationProviderId ? element.registrationProviderId : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="registrationProviderType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Provider Type </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.registrationProviderType ? element.registrationProviderType : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="patientName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.patientName ? element.patientName : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="patientNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient Number</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.patientNumber ? element.patientNumber : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="patientId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Id </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.patientId ? element.patientId : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="patientRegistrationDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Registration Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.patientRegistrationDate ? (element.patientRegistrationDate | date:'dd-MM-yyyy hh:mm:ss a') : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="TBSymptoms">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TB Symptoms </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.TBSymptoms ? element.TBSymptoms.toString() : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="otpVerified">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>OTP Verified</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.otpVerified ? element.otpVerified : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrDisbursementDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Disbursement Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.cxrDisbursementDate ? (element.cxrDisbursementDate | date:'dd-MM-yyyy hh:mm:ss a') : '---' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrVoucherCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Voucher Code </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.cxrVoucherCode ? element.cxrVoucherCode : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrRedemptionDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Redemption Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.cxrRedemptionDate ? (element.cxrRedemptionDate | date:'dd-MM-yyyy hh:mm:ss a') : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="suggestiveOfTB">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Result (Suggestive Of TB) </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.suggestiveOfTB ? element.suggestiveOfTB : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cxrReportUploaded">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CXR Report Uploaded </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.cxrReportUploaded ? element.cxrReportUploaded : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="labFacilityName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lab Facility Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.labFacilityName ? element.labFacilityName : '---'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="labProviderName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lab Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.labProviderName ? element.labProviderName : '---'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>