<div class="col-md-12" id="user-registration-form">
    <kt-portlet>
        <kt-portlet-header title="User Registration Form" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="facilityCreationForm">
                <div class="row mb-2">
                    <div class="col-lg-4 d-flex justify-content-between align-items-center">
                        <div class="m-form__heading">
                            <h5 class="m-form__heading-title">
                                Provider Registered in Nikshay
                            </h5>
                        </div>
                        <div>
                            <mat-radio-group aria-label="Select an option" (change)="isRegisteredProvider($event.value)">
                                <mat-radio-button [value]="true" [checked]="isNikshayRegProvider == true">Yes
                                </mat-radio-button>
                                <mat-radio-button [value]="false" [checked]="isNikshayRegProvider == false">No
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-3" *ngIf="isNikshayRegProvider">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Nikshay HFID</mat-label>
                            <input type="number" matInput formControlName="nikshayHFID" placeholder="Nikshay HFID" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Nikshay HFID is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Nikshay TU</mat-label>
                            <mat-select placeholder="Select Nikshay TU" required formControlName="nikshayTU">
                                <input class="form-control" style="width: 100%" placeholder="Search..." (keyup)="
										searchNikshayTU($event.target.value)
									" />
                                <!-- <mat-option [style.background-color]="'#b83336'" [style.color]="'#fff'" #allCourseSelected (click)="selectAll('course')" [value]="0">All</mat-option> -->
                                <mat-option *ngFor="let nikshay of nikshayTU" [value]="nikshay">
                                    {{ nikshay.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Nikshay TU is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Type of Facility</mat-label>
                            <mat-select placeholder="Type of Facility" required formControlName="facilityType">
                                <input class="form-control" style="width: 100%" placeholder="Search..." (keyup)="
										searchFacilityType($event.target.value)
									" />
                                <mat-option *ngFor="let facility of facilities" [value]="facility">
                                    {{ facility.key }}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Type of facility is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Facility Name</mat-label>
                            <input matInput required formControlName="facilityName" placeholder="Facility Name" />
                            <!-- <mat-icon matSuffix>person</mat-icon> -->
                            <mat-error>
                                Facility Name is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Govt. Registration Number</mat-label>
                            <input matInput formControlName="govtRegNum" placeholder="Govt. Registration no." />
                            <!-- <mat-icon matSuffix>person</mat-icon> -->
                            <mat-error>
                                Govt. registration number is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Field Officer</mat-label>
                            <mat-select placeholder="Select Field Officer" formControlName="fieldOfficerId">
                                <mat-option *ngFor="let fieldOfficer of fieldOfficerList" [value]="fieldOfficer.id">
                                    {{ fieldOfficer.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Field Officer is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Personal Information -->
                <div class="row">
                    <div class="m-form__heading col-lg-12">
                        <h5 class="m-form__heading-title">
                            Personal Information
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Provider Name</mat-label>
                            <input matInput formControlName="name" placeholder="Provider Name" />
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error>
                                Provider Name is required !!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Provider Mobile</mat-label>
                            <input type="number" matInput formControlName="mobile" placeholder="Provider Mobile" />
                            <!-- <mat-icon matSuffix>person</mat-icon> -->
                            <mat-error>
                                <span *ngIf="
										mobile.touched &&
										mobile.errors?.required
									">
                                    Mobile is required!!!
                                </span>
                                <!-- <span *ngIf="facilityCreationForm.controls.mobile.hasError('maxlength')">
                                    Number should be of 10 digits.
                              </span> -->
                                <span *ngIf="
										mobile.touched && mobile.errors?.unique
									">{{ mobile.errors?.message }}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email" placeholder="Email" />
                            <!-- <mat-icon matSuffix>person</mat-icon> -->
                            <mat-error>
                                <!-- <span *ngIf="
										email.touched && email.errors?.required
									">Email is required!!!</span> -->
                                <span *ngIf="email.touched && email.errors?.email">Email must be a valid email
                                    address</span>
                                <!-- <span *ngIf="
										email.touched && email.errors?.unique
									">{{ email.errors?.message }}</span> -->
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Qualification</mat-label>
                            <mat-select placeholder="Qualification" formControlName="qualification">
                                <input class="form-control" style="width: 100%" placeholder="Search..." (keyup)="
										searchQualificationType(
											$event.target.value
										)
									" />
                                <mat-option *ngFor="let qualification of qualifications" [value]="qualification.value">
                                    {{ qualification.key }}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Qualification is required!!!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-9">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Address</mat-label>
                            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" matInput formControlName="address"></textarea>
                            <mat-error> Address is required!!! </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Compounder Information -->
                <div class="row mt-2 mb-3">
                    <div class="col-lg-5 d-flex justify-content-between align-items-center">
                        <div class="m-form__heading">
                            <h5 class="m-form__heading-title">
                                Incentive referred to Compounder
                            </h5>
                        </div>
                        <div>
                            <mat-radio-group aria-label="Select an option" (change)="isIncentiveReferredToCompounder($event.value)">
                                <mat-radio-button value="Yes" [checked]="incentiveReferredToCompounder == true">Yes
                                </mat-radio-button>
                                <mat-radio-button value="No" [checked]="incentiveReferredToCompounder == false">No
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-3" *ngIf="incentiveReferredToCompounder">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Compounder Name</mat-label>
                            <input matInput formControlName="compounderOrAttendantName" placeholder="Compounder Name" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Compounder is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3" *ngIf="incentiveReferredToCompounder">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Compounder Mobile</mat-label>
                            <input type="number" matInput formControlName="compounderOrAttendantMobile" placeholder="Mobile" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Compounder Mobile is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3" *ngIf="incentiveReferredToCompounder">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Compounder Account Number</mat-label>
                            <input type="number" matInput formControlName="compounderOrAttendantBankAccountNum" placeholder="Bank Account Number" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Compounder Mobile is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3" *ngIf="incentiveReferredToCompounder">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Compounder Bank IFSC CODE</mat-label>
                            <input type="text" matInput formControlName="compounderOrAttendantBankIFSC" placeholder="Bank IFSC Code" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Compounder Bank IFSC is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3" *ngIf="incentiveReferredToCompounder">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Compounder PAN Card</mat-label>
                            <input type="text" matInput formControlName="compounderOrAttendantPANCard" placeholder="PAN Card" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Compounder PAN Card is required !! </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Beneficiary Information -->
                <div class="row">
                    <div class="m-form__heading col-lg-12">
                        <h5 class="m-form__heading-title"> Beneficiary Information </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Provider PAN Card</mat-label>
                            <input type="text" matInput formControlName="providerPANCardNumber" placeholder="PAN Card" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Provider PAN Card is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Provider Bank Account Number</mat-label>
                            <input type="number" matInput formControlName="providerBankAccountNumber" placeholder="Bank Account Number" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Provider Bank Account is required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Confirm Bank Account Number</mat-label>
                            <input type="number" matInput formControlName="providerConfirmBankAccountNumber" placeholder="Confirm Bank Account Number" />
                            <mat-icon matSuffix *ngIf="providerConfirmBankAccountNumber.touched && !providerConfirmBankAccountNumber.errors?.required && !providerConfirmBankAccountNumber.errors?.isMatch">done</mat-icon>
                            <mat-error>
                                <div *ngIf="
                                providerConfirmBankAccountNumber.touched &&
                                providerConfirmBankAccountNumber.errors?.required
									">
                                    Confirm Bank Account is required!!!
                                </div>
                                <div *ngIf="providerConfirmBankAccountNumber.errors?.isMatch">
                                    {{ providerConfirmBankAccountNumber.errors?.message }}
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Provider Bank IFSC Code</mat-label>
                            <input type="text" matInput formControlName="providerBankIFSCCode" placeholder="Bank IFSC Code" />
                            <!-- <mat-icon matSuffix>call</mat-icon> -->
                            <mat-error> Bank IFSC is required !! </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3">

                        <mat-form-field class="example-full-width" floatPlaceholder="Provider Bank Account Photo" appearance="outline">
                            <mat-label>Provider Bank Account Photo</mat-label>
                            <input [hidden]="true" (change)="getProviderBankAccountPhotoFile($event)" type="file" accept="image/*" #file1 (click)="file1.value = null" />
                            <input readonly matInput formControlName="providerBankAccountPhoto" />
                            <button matSuffix mat-icon-button (click)="file1.click()" matTooltip="Select a file" [matTooltipPosition]="'above'">
                                            <mat-icon class="uploadIcon">file_upload</mat-icon>
                                        </button>
                        </mat-form-field>

                        <div class="d-flex justify-content-center" *ngIf="providerBankAccountPhotoUrl">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <mat-icon class="font-weight-bold" color="warn" matTooltip="Remove PAN Card" matTooltipPosition="above" (click)="removeUploadedBankAccountPhoto()">clear</mat-icon>
                                </div>
                                <div class="avatar-preview pointer" (click)="downloadFile('BankAccountPhoto',selectedProviderBankAccountPhotoFileModifiedFileName)">
                                    <img [attr.src]="providerBankAccountPhotoUrl" alt="" />
                                </div>
                            </div>
                        </div>
                        <!-- <kt-upload></kt-upload> -->
                    </div>

                    <div class="col-lg-3">
                        <mat-form-field class="example-full-width" floatPlaceholder="PAN Card Photo" appearance="outline">
                            <mat-label>Beneficiary PAN Card</mat-label>
                            <input [hidden]="true" (change)="getPANCardFile($event)" type="file" accept="image/*" #file2 (click)="file2.value = null" />
                            <input readonly matInput formControlName="providerPANCard" />
                            <button matSuffix mat-icon-button (click)="file2.click()" matTooltip="Select a file" [matTooltipPosition]="'above'">
                                    <mat-icon class="uploadIcon">file_upload</mat-icon>
                                </button>
                        </mat-form-field>
                        <div class="d-flex justify-content-center" *ngIf="providerPANCardUrl">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <mat-icon class="font-weight-bold" color="warn" matTooltip="Remove PAN Card" matTooltipPosition="above" (click)="removeUploadedPANCard()">clear</mat-icon>
                                </div>
                                <div class="avatar-preview pointer" (click)="downloadFile('PANCard',selectedProviderPANCardFileModifiedFileName)">
                                    <img [attr.src]="providerPANCardUrl" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="example-full-width" floatPlaceholder="Beneficiary Photo" appearance="outline">
                            <mat-label>Beneficiary Photo</mat-label>
                            <input [hidden]="true" (change)="getBeneficiaryPhotoFile($event)" type="file" accept="image/*" #file3 (click)="file3.value = null" />
                            <input readonly matInput formControlName="providerBeneficiaryPhoto" />
                            <button matSuffix mat-icon-button (click)="file3.click()" matTooltip="Select a file" [matTooltipPosition]="'above'">
                                    <mat-icon class="uploadIcon">file_upload</mat-icon>
                                </button>
                        </mat-form-field>
                        <div class="d-flex justify-content-center" *ngIf="providerBeneficiaryPhotoUrl">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <mat-icon class="font-weight-bold" color="warn" matTooltip="Remove Beneficiary Photo" matTooltipPosition="above" (click)="removeUploadedBeneficiaryPhoto()">clear</mat-icon>
                                </div>
                                <div class="avatar-preview pointer" (click)="downloadFile('beneficiaryPhoto',selectedProviderBeneficiaryPhotoFileModifiedFileName)">
                                    <img [attr.src]="providerBeneficiaryPhotoUrl" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Login Information -->
                <div class="row" *ngIf="editMode === false">
                    <div class="m-form__heading col-lg-12">
                        <h5 class="m-form__heading-title">Login Information</h5>
                    </div>
                </div>
                <div class="row" *ngIf="editMode === false">
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Username</mat-label>
                            <input matInput required formControlName="username" placeholder="User Name" />
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error>
                                <span *ngIf="
										username.touched &&
										username.errors?.required
									">Username is required!!!</span>
                                <span *ngIf="
										username.touched &&
										username.errors?.unique
									">{{ username.errors?.message }}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput required formControlName="password" placeholder="Password" value="" />
                            <mat-icon matSuffix>vpn_key</mat-icon>
                            <mat-error>Password is required!!!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput required formControlName="confirmPassword" placeholder="Confirm Password" value="" />
                            <mat-icon matSuffix *ngIf="confirmPassword.touched && !confirmPassword.errors?.required && !confirmPassword.errors?.isMatch">done</mat-icon>
                            <mat-error>
                                <div *ngIf="
										confirmPassword.touched &&
										confirmPassword.errors?.required
									">
                                    Confirm Password is required!!!
                                </div>
                                <div *ngIf="confirmPassword.errors?.isMatch">
                                    {{ confirmPassword.errors?.message }}
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Create User Button -->
                <div class="row">
                    <div class="col-md-4 col-lg-3" *ngIf="editMode === false">
                        <button type="submit" class="" [disabled]="!facilityCreationForm.valid" color="primary" (click)="createFacility()" mat-raised-button>
                           <mat-icon>done</mat-icon> Create User
                        </button>
                    </div>
                    <div class="col-md-4 col-lg-3" *ngIf="editMode === true">
                        <button type="submit" class="" color="primary" (click)="updateProvider()" mat-raised-button>
                           <mat-icon>done</mat-icon> Update User
                        </button>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>

<div class="row">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="Registered Users" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTable()">
                        Export
                    </button>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body class="pt-10">
                <div class="position-relative">
                    <div class="table-container">
                        <input class="form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search " />
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" class="w-100 table-responsive table-max-height" #sort="matSort" matSort #tableId>
                                <ng-container matColumnDef="sn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        S.N.
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index" class="text-center">
                                        {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Facility Name
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.name ? row.name : "----" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="mobile">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Mobile
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.mobile ? row.mobile : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Email
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.email ? row.email : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="contactPersonName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Contact Person Name
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.contactPersonName ? row.contactPersonName : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="contactPersonDesignation">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Contact Person Designation
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.designation ? row.designation : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="address">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Address
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.address ? row.address : "----" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="qualification">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Qualification
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.qualification ? row.qualification : "----" }}
                                    </td>
                                </ng-container>

                                <!-- <ng-container matColumnDef="nikshayRegProvider">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>
										Provider Registered in Nikshay
									</th>
									<td mat-cell *matCellDef="let row">
                                        {{
                                            row.nikshayRegProvider == true ? "Yes":"No"
                                            }}
									</td>
								</ng-container> -->
                                <ng-container matColumnDef="nikshayTU">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nikshay TU
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.nikshayTU ? row.nikshayTU : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="NikshayHFID">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nikshay HFID
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.NikshayHFID ? row.NikshayHFID : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="facilityType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Facility Type
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.facilityType ? row.facilityType : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="facilityName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Facility Name
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.facilityName ? row.facilityName : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="govtRegNum">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Govt. Registration Num
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.govtRegistrationNumber ? row.govtRegistrationNumber : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="fieldOfficer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Field Officer
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.fieldOfficer ? row.fieldOfficer : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="incentiveReferredToCompounder">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Incentive Referred To Compounder
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.incentiveReferredToCompounder ? row.incentiveReferredToCompounder : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="compounderOrAttendantName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Compounder Name
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.compounderOrAttendantName ? row.compounderOrAttendantName : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="compounderOrAttendantBankAccountNum">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Compounder Bank Account Number
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.compounderOrAttendantBankAccountNum ? row.compounderOrAttendantBankAccountNum : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="compounderOrAttendantBankIFSC">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Compounder Bank IFSC
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.compounderOrAttendantBankIFSC ? row.compounderOrAttendantBankIFSC : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="compounderOrAttendantMobile">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Compounder Mobile
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.compounderOrAttendantMobile ? row.compounderOrAttendantMobile : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="compounderOrAttendantPANCard">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Compounder PAN Card
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.compounderOrAttendantPANCard ? row.compounderOrAttendantPANCard : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Username
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.username ? row.username : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="password">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Password
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.password ? row.password : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="PANCard">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Provider's PAN Card
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <img src="/assets/media/files/jpg.svg" alt="img" class="pointer" width="40" *ngIf="row.panCard" (click)="downloadFile(row.panCard.container, row.panCard.modifiedFileName)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="beneficiaryPhoto">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Beneficiary Photo
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <img src="/assets/media/files/jpg.svg" alt="img" class="pointer" width="40" *ngIf="row.beneficiaryPhoto" (click)="downloadFile(row.beneficiaryPhoto.container, row.beneficiaryPhoto.modifiedFileName)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="bankAccountPhoto">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Bank Account Photo
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <img src="/assets/media/files/jpg.svg" alt="img" class="pointer" width="40" *ngIf="row.bankAccountPhoto" (click)="downloadFile(row.bankAccountPhoto.container, row.bankAccountPhoto.modifiedFileName)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="providerPANCardNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Provider PAN Card Number
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.providerPANCardNumber ? row.providerPANCardNumber : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="providerBankAccountNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Provider Bank Account Number
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.providerBankAccountNumber ? row.providerBankAccountNumber : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="providerBankIFSCCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Provider Bank IFSC Code
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.providerBankIFSCCode ? row.providerBankIFSCCode : "----" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.status }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="createdAt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        User Registration Date
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        {{ row.createdAt | date:'dd-MM-yyyy hh:mm:ss a' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="actionStickyTh">
                                        Actions
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center actionStickyTd">
                                        <div>
                                            <button mat-icon-button aria-label="Edit Provider" matTooltip="Edit Provider" matTooltipPosition="above" class="pointer" color="primary" [disabled]="row.designation == 'fieldofficer' || row.designation == 'finance' ||  row.designation == 'sctagent' ||  row.designation == 'programmanager'"
                                                (click)="editProvider(row)">
                                                <mat-icon class="mb-2">edit</mat-icon>
                                              </button>
                                            <!-- <mat-icon >edit</mat-icon> -->
                                            <mat-slide-toggle matTooltip="Change Status" matTooltipPosition="above" [checked]="row.status == 'Active'" (change)="changeProviderStatus(row)">
                                            </mat-slide-toggle>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="
										let row;
										columns: displayedColumns
									" [style.background-color]="row.status === 'Active' ? '' : '#ef9a9a'"></tr>
                                <!--  [style.background-color]="row.status ? '' : '#ef9a9a'" -->
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">
                                        No data matching the filter "{{ input.value }}"
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>
