@import "../../../../../assets/sass/mat-table.scss";
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: -0.5rem 0 1rem 0;
    .avatar-edit {
        position: absolute;
        z-index: 1;
        // right: 8rem;
        // top: 10px;
        >mat-icon {
            padding: 3px;
            background: #f0f1f6;
            border-radius: 100%;
            cursor: pointer;
        }
    }
    .avatar-preview {
        width: 100px;
        height: 100px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #f8f8f8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        >img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.pointer {
    cursor: pointer;
}

.table-max-height {
    max-height: 28rem;
}

th {
    position: sticky;
    top: 0;
}

.actionStickyTh,
.actionStickyTd {
    position: sticky;
    right: 0;
    top: 0;
    z-index: 10;
}

.actionStickyTd {
    z-index: 9;
    background: #f2fff2;
}