<!-- <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Provider</mat-label>
    <mat-select placeholder="Select Provider" [multiple]="multiple" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let provider of providerList" [value]="provider.id">
            {{ provider.name }}
        </mat-option>
    </mat-select>
</mat-form-field> -->


<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Provider</mat-label>
    <mat-select placeholder="Select Provider" [multiple]="multiple" (selectionChange)="changedValue($event.value)">
      <cdk-virtual-scroll-viewport [itemSize]="15" [style.height.px]=5*48 minBufferPx="200" maxBufferPx="400">
        <mat-option *cdkVirtualFor="let provider of providerList; let odd = odd; templateCacheSize: 0" [class.example-alternate]="odd"
          [value]="provider.id">
          {{provider.name}}
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-select>
  </mat-form-field>