@import "../../../../../assets/sass/mat-table.scss";
.pointer {
    cursor: pointer;
}

.file-link {
    list-style: none;
    font-weight: 500;
    color: #5867dd;
    cursor: pointer;
    margin: 0;
    padding: 0;
}