@import "../../../../../assets/sass/mat-table.scss";
.invoice-validation-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 22rem;
}

.pointer {
    cursor: pointer;
}

.file-link {
    list-style: none;
    font-weight: 500;
    color: #5867dd;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.invoice-accept-reject-buttons .mat-button-base {
    margin: 8px 8px 8px 0;
    position: relative;
    top: -4.25rem;
}

::ng-deep .mat-table-sticky-border-elem-right {
    border-left: 1px solid #000;
}

::ng-deep .mat-table-sticky-border-elem-left {
    border-right: 1px solid #000;
}