<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
        <div class="kt-footer__copyright">
            {{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="http://www.etech-services.com/" target="_blank" class="kt-link">E-Tech Services Pvt. Ltd.</a>
        </div>
        <div>
            Helpline Number : 9212277333, 9310310200
        </div>
        <div class="kt-footer__menu">
            <a href="http://www.etech-services.com/" target="_blank" class="kt-footer__menu-link kt-link">{{ 'AUTH.GENERAL.ABOUT' | translate }}</a>
            <a href="http://www.etech-services.com/" target="_blank" class="kt-footer__menu-link kt-link">{{ 'AUTH.GENERAL.TEAM' | translate }}</a>
            <a href="http://www.etech-services.com/" target="_blank" class="kt-footer__menu-link kt-link">{{ 'AUTH.GENERAL.CONTACT' | translate }}</a>
        </div>
    </div>
</div>
<!-- end:: Footer -->