/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Roboto", sans-serif !important;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
// header base skins
.kt-header-base-light {
    @import "sass/global/layout/header/skins/base/light.scss";
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.kt-header-base-dark {
    @import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
    @import "sass/global/layout/header/skins/menu/light.scss";
}

.kt-header-menu-dark {
    @import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
    @import "sass/global/layout/brand/skins/dark.scss";
}

.kt-brand-light {
    @import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
    @import "sass/global/layout/aside/skins/dark.scss";
}

.kt-aside-light {
    @import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
    display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
    min-width: 600px !important;
    width: 100% !important;
}

.position-static {
    position: static;
}


/**
input placeholder STYLE
*/

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-empty.mat-form-field-label {
    display: block;
    font-weight: 400;
    color: rgba(20, 20, 20, 0.87);
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

// .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: #646c9a !important;
// }
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #646c9a !important;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #fd398f !important;
}

.feedback-link {
    cursor: pointer;
}

.mat-tooltip {
    // background-color: darkblue !important;
    font-size: 15px !important;
    color: white !important;
}

@import "~ng-pick-datetime/assets/style/picker.min.css";
.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free" !important;
}


/**
  input placeholder STYLE
  */