@import "../../../../../assets/sass/mat-table.scss";
.height-82 {
    height: 74px;
    ;
}

// .has-background-gradient-green{
//     background: rgb(147,223,148);
//     background: linear-gradient(90deg, rgba(147,223,148,1) 0%, rgba(94,200,90,1) 66%);
//     color: white;
//   }
//   .has-background-gradient-green .my-icon{
//     background: rgba(147,223,148, 0.9);
//   }
//   .has-background-gradient-blue{
//     background: rgb(179,186,255);
//   background: linear-gradient(90deg, rgba(179,186,255,1) 0%, rgba(125,143,255,1) 66%);
//     color: white;
//   }
//   .has-background-gradient-blue .my-icon{
//     background: rgba(179,186,255, 0.9);
//   }
//   .has-background-gradient-orange{
//     background: rgb(255,204,149);
//   background: linear-gradient(90deg, rgba(255,204,149,1) 0%, rgba(255,112,67,1) 66%);
//     color: white;
//   }
//   .has-background-gradient-orange .my-icon{
//     background: rgba(255,204,149, 0.9);
//   }
//   .has-background-gradient-teal{
//     // background: rgb(182,225,221);
//   background: linear-gradient(90deg, rgba(182,225,221,1) 0%, rgba(38,166,154,1) 66%);
//     color: white;
//   }
//   .has-background-gradient-teal .my-icon{
//     background: rgba(182,225,221, 0.9);
//   }
//   .my-card{
//     margin-top: 10px;
//     margin-bottom: 10px;
//     min-height: 120px;
//     border: none;
//     border-radius: 8px;
//     display: flex;
//     flex-direction: row;
//   }
//   .my-card .my-icon {
//     border-radius: 8px;
//     font-size: 34px;
//   }
:host {
     ::ng-deep {
        ngb-tabset>.nav-tabs {
            display: none;
        }
    }
}

body {
    margin-top: 20px;
    background: #fafafa;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    // background: linear-gradient(45deg, #156fd6, #ee6d17);
    background: linear-gradient(90deg, rgba(179, 186, 255, 1) 0%, rgba(125, 143, 255, 1) 66%);
}

.bg-c-blue2 {
    background: linear-gradient(90deg, #33339a, #0095b4);
}

.bg-c-yellow {
    background: linear-gradient(90deg, #98b859, #a3a416);
}

.bg-c-purple {
    background: linear-gradient(90deg, #b85997, #870e75);
}

.bg-c-green {
    background: linear-gradient(45deg, #2960f7, #11da9d);
}

.bg-c-green2 {
    background: linear-gradient(90deg, rgba(147, 223, 148, 1) 0%, rgba(94, 200, 90, 1) 66%);
}

.bg-c-pink {
    background: linear-gradient(45deg, #a539a8, #3a83d6);
}

.bg-c-teal {
    background: linear-gradient(90deg, rgb(119, 202, 194) 0%, rgba(38, 166, 154, 1) 66%);
}

.bg-c-orange {
    background: linear-gradient(90deg, rgb(245, 178, 106) 0%, rgba(255, 112, 67, 1) 66%);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    // margin-bottom: 30px;
    min-height: 10.5rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

h2 {
    font-size: 35px;
}

h6 {
    font-size: 20px;
}

.th-bg {
    background-color: #c1c1c1;
    font-size: 15px;
    color: black
}

.bg-danger {
    background: #ff4d4d !important;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.bg-warning {
    background: #ffff4d !important;
    font-size: 20px;
    color: #646c9a;
}

.bg-success-td {
    background: #88AB75 !important;
    font-size: 20px;
    color: #fff;
}

.bold {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.map-graphs ::ng-deep .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    color: rgb(255, 255, 255) !important;
    margin-right: 2rem !important;
}

.display-count {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    padding: .7rem 0;
}

.display-age {
    font-size: 12px;
}

hr {
    border-top: 1px solid #bbb !important;
}

.bg-grey {
    background: #c1c1c1;
}

.mat-card {
    background: #f7f8fa;
    color: rgba(0, 0, 0, 0.87);
}

.mat-card-header .mat-card-title {
    margin-bottom: 12px;
    color: #1e3a79;
}

.blockquote-footer {
    &::before {
        content: "" !important;
    }
}

.example-second-footer-row td {
    color: #0b4403;
    font-weight: bold;
}

.disclaimer {
    margin-top: 3px;
    color: #0b4403;
    font-weight: 700;
    width: 50%;
    position: absolute;
    bottom: 7px;
    margin-left: 8px;
    &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ffbdbd;
    }
}