<div class="row mb-2">
    <div class="col-lg-4 mb-3">
        <ul class="list-group">
            <li class="p-2 height-82 list-group-item rounded list-group-item-success d-flex justify-content-between align-items-center font-weight-bold font-italic">

                <h5>
                    <!-- <i class="far fa-hospital fa-2x mr-2" style="color: #1dc9b7;"></i>  -->
                    Total TB Patients <small class="text-muted">
                        2020</small>
                </h5>
                <h4>
                    <a routerLink="/mdsr/dashboard/facility">
                        <span class="badge badge-success badge-pill">
                            567
                        </span>
                    </a>
                </h4>
            </li>
            <li class="p-2 height-82 list-group-item rounded list-group-item-success d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <img style="border-radius: 50%;" height="35px"
                        src="../../../../../assets/media/img/children_less_than 5.png" /> -->
                    # Patients on Treatment
                    <5 years underweight<small class="text-muted">
                        2020</small>
                </h5>
                <h4>
                    <span class="badge badge-success badge-pill">
                        678
                    </span>
                </h4>
            </li>
            <li class="p-2 height-82 list-group-item rounded list-group-item-success d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <i class="fas fa-syringe fa-2x mr-2" style="color: #1dc9b7;"></i> -->
                    # of Patients Treatment Not Started<small class="text-muted">
                        2020</small>
                </h5>
                <h4>
                    <span class="badge badge-success badge-pill">
                        5467
                    </span>
                </h4>
            </li>
        </ul>
    </div>

    <div class="col-lg-4 mb-3">
        <ul class="list-group">
            <li class="p-2 height-82 list-group-item rounded list-group-item-warning d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <i class="fas fa- fa-2x mr-2" style="color: #ffb822;"></i> -->
                    # Service providers mapped on the system <small class="text-muted">2020</small>
                </h5>
                <h4>
                    <span class="badge badge-warning badge-pill">
                        5678
                    </span>
                </h4>
            </li>
            <li class="p-2 height-82 list-group-item rounded list-group-item-warning d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <img style="border-radius: 10%;" height="30px" width="30px;"
                        src="../../../../../assets/media/img/download-institutional delivery.png" /> -->
                    # Service providers engaged by the program <small class="text-muted">2020</small>
                </h5>
                <h4>
                    <span class="badge badge-warning badge-pill">
                        5678
                    </span>
                </h4>
            </li>
            <li class="p-2 height-82 list-group-item rounded list-group-item-warning d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <img height="35px" width="35px;" src="../../../../../assets/media/img/teenage image 1.png" /> -->
                    # Service providers actively disbursing free services through the voucher referral program <small class="text-muted">2020</small>
                </h5>
                <h4>
                    <span class="badge badge-warning badge-pill">
                        546
                    </span>
                </h4>
            </li>
        </ul>
    </div>

    <div class="col-lg-4 mb-3">
        <ul class="list-group">
            <li class="p-2 height-82 list-group-item rounded list-group-item-primary d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <img height="35px" src="../../../../../assets/media/img/pregnant_woman_white_192x192.png" /> -->
                    # Access points mapped on the system <small class="text-muted">2020</small>
                </h5>

                <h4>
                    <span class="badge badge-primary badge-pill"> 1000
                    </span>
                </h4>
            </li>
            <li class="p-2 height-82 list-group-item rounded list-group-item-primary d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <img height="35px" src="../../../../../assets/media/img/account_child_white_192x192.png" /> -->
                    # Access points engaged by the program <small class="text-muted">2020</small>
                </h5>

                <h4>
                    <span class="badge badge-primary badge-pill">2000
                    </span>
                </h4>
            </li>

            <li class="p-2 height-82 list-group-item rounded list-group-item-primary d-flex justify-content-between align-items-center font-weight-bold font-italic">
                <h5>
                    <!-- <img height="35px" src="../../../../../assets/media/img/group_add_white_192x192.png" /> -->
                    # Access points actively issuing vouchers <small class="text-muted">2020</small>
                </h5>

                <h4>
                    <span class="badge badge-primary badge-pill"> 3000
                    </span>
                </h4>
            </li>
        </ul>
    </div>

</div>


<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Lead Generator Incentive'" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body>
                <div class="row">
                    <div class="position-relative col-xl-6">
                        <div id="chartdiv" style="width: 100%; height: 30rem"></div>
                        <hr>
                        <h5 class="text-center">Lead Generators For Treatment Initiation</h5>

                    </div>
                    <div class="position-relative col-xl-6">
                        <div id="chartdiv2" style="width: 100%; height: 30rem"></div>
                        <hr>
                        <h5 class="text-center">Service Providers Reimbursement</h5>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <kt-portlet>
            <kt-portlet-header title="Inventory : Stock Statement" class="kt-portlet__head">
                <ng-container ktPortletTools>
                    <button class="btn ml-2 btn-primary" (click)="exportTable()">
                        Export
                    </button>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body class="pt-10">
                <div class="position-relative">
                    <div class="table-container">
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" class="w-100" matSort #tableId>
                                <ng-container matColumnDef="skus">
                                    <th class="header type-column" mat-header-cell *matHeaderCellDef>
                                        <span>SKUs</span>
                                    </th>
                                    <td mat-cell *matCellDef="let request">{{request.skus}}</td>
                                </ng-container>

                                <ng-container matColumnDef="ob">
                                    <th class="header type-column" mat-header-cell *matHeaderCellDef>
                                        <span>Opening Balance</span>
                                    </th>
                                    <td mat-cell *matCellDef="let request">{{request.ob}}</td>
                                </ng-container>

                                <ng-container matColumnDef="stockIn">
                                    <th class="header type-column" mat-header-cell *matHeaderCellDef>
                                        <span>Stock In</span>
                                    </th>
                                    <td mat-cell *matCellDef="let request">{{request.stockIn}}</td>
                                </ng-container>

                                <ng-container matColumnDef="stockOut">
                                    <th class="header type-column" mat-header-cell *matHeaderCellDef>
                                        <span>Stock Out</span>
                                    </th>
                                    <td mat-cell *matCellDef="let request">{{request.stockOut}}</td>
                                </ng-container>

                                <ng-container matColumnDef="cb">
                                    <th class="header type-column" mat-header-cell *matHeaderCellDef>
                                        <span>Closing Balance</span>
                                    </th>
                                    <td mat-cell *matCellDef="let request">{{request.cb}}</td>
                                </ng-container>

                                <ng-container matColumnDef="change">
                                    <th class="header type-column" mat-header-cell *matHeaderCellDef>
                                        <span>Change</span>
                                    </th>
                                    <td mat-cell *matCellDef="let request" [style.color]="request.change > 0 ? '#000' : '#f00'">{{request.change}}</td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="disclaimer">
                                    <td mat-footer-cell *matFooterCellDef colspan="2">
                                        Re-Order Level Reached
                                    </td>
                                </ng-container> -->
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let request; columns: displayedColumns;" [style.background-color]="request.change > 0 ? '' : '#ffe6e6'"></tr>
                                <!-- <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr> -->



                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                            <p class="disclaimer">
                                Re-Order Level Reached</p>
                            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                        <!-- [length]="" -->
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>


<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Sputum Sample Collection Data'" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body>
                <div class="row">
                    <div class="position-relative col-xl-12">
                        <div id="lineGraph" style="width: 100%; height: 30rem"></div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>
<div class="row">
    <div class="col-xl-8">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Patient Data'" style="min-height: 50px;">

            </kt-portlet-header>

            <kt-portlet-body>
                <div class="row">
                    <div class="position-relative col-xl-12">
                        <div id="funnelGraph" style="width: 100%; height: 30rem"></div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 map-graphs">
        <kt-portlet>
            <kt-portlet-header [title]="'Patient Data'" [class]="'kt-portlet__head--sm bg-primary pt-2px'" style="min-height: 40px; white-space: pre; ">
                <ng-container ktPortletTools>
                    <div class="form-check small form-check-inline" style="margin-left: 50px">
                        <select class="form-control" style="height: 23px; padding: 0px;">
                            <option>Select Indicator</option>
							<option selected value="1"># Leads generated.</option>
							<option value="2"># Chest x-ray vouchers issued.</option>
							<option value="3"># Chest x-rays dispensed.</option>
							<option value="4"># Consultation vouchers issued. </option>
							<option value="5"># Consultation vouchers redeemed.</option>
							<option value="6"># Patients with microbiologically confirmed TB</option>
							<option value="7"># Average number of days taken per patient for redemption of vouchers</option>							
						</select>
                    </div>
                </ng-container>
            </kt-portlet-header>

            <kt-portlet-body>
                <!-- <kt-map [isShowSubDistrict]="isShowSubDistrict" [selectedValue]="selectedValue" (myOutput)="getStateData($event)" (subDistrictInfo)="geSubDistrictData($event)"></kt-map> -->
                <kt-map [mapChardDiv]="mapChardDiv4"></kt-map>

            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>