<div class="col-md-12">
    <kt-portlet>
        <kt-portlet-header title="FDC Register Filter [This register is generated whenever an FDC voucher is disbursed]" class="kt-portlet__head">
            <ng-container ktPortletTools> </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form autocomplete="off" [formGroup]="filterForm" (ngSubmit)="viewData()">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Registration Provider Type</mat-label>
                            <mat-select placeholder="Select Registration Provider Type" required formControlName="registrationType" multiple>
                                <mat-option #allRegistrationType (click)="selectAll()" [value]="0">All</mat-option>
                                <mat-option *ngFor="let type of registrationTypeList" (click)="selectSingle()" [value]="type.name.value">
                                    {{ type.name.key }}
                                </mat-option>

                            </mat-select>
                            <mat-error> Registration Provider Type Is Required !! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="asterisk_input"> </span>
                            <div class="input-group mb-2 calendar-border">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i [owlDateTimeTrigger]="dt1" class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <input readonly required class="form-control" style="height: calc(2.5em + 1.3rem + 2px) !important;border-left: 1px solid #646c9a" [min]="minDate" [max]="maxDate" selectMode="range" formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                    hour12Timer="true" placeholder="dd/MM/yyyy">
                                <owl-date-time [pickerMode]="'popup'" [pickerType]="'calendar'" #dt1></owl-date-time>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <button type="submit" class="mt-2" [disabled]="!filterForm.valid" color="primary" mat-raised-button>
                                <!-- <i class="fa fa-plus"></i>-->
                             Proceed <mat-icon class="pd-0">input</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </kt-portlet-body>
    </kt-portlet>
</div>
<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
</div>

<div class="col-md-12" [hidden]="!showTable">
    <kt-portlet>
        <kt-portlet-header title="FDC Register" class="kt-portlet__head">
            <ng-container ktPortletTools>
                <button class="btn ml-2 btn-primary" (click)="exportTable()">Export</button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="mat-elevation-z8">
                <input class="form-control mb-2" (keyup)="applyFilter($event)" placeholder="Search" />
                <div style="overflow-y: hidden;">
                    <table mat-table [dataSource]="dataSource" #matSort="matSort" matSort class="w-100">


                        <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i=index;"> {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="col1">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">S.No.</th>
                        </ng-container>


                        <ng-container matColumnDef="RegistrationFacilityName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> Registration Facility Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RegistrationFacilityName ? element.RegistrationFacilityName : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col2">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Registration Facility Name</th>
                        </ng-container>

                        <ng-container matColumnDef="RegistrationProviderName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> Registration Provider Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RegistrationProviderName ? element.RegistrationProviderName : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col3">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Registration Provider Name</th>
                        </ng-container>

                        <ng-container matColumnDef="RegistrationProviderId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">Registration Provider ID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RegistrationProviderId ? element.RegistrationProviderId : '-----'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col4">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Registration Provider ID</th>
                        </ng-container>

                        <ng-container matColumnDef="RegistrationProvidertype">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">Registration Provider Type </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.RegistrationProvidertype ? element.RegistrationProvidertype : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col5">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Registration Provider Type</th>
                        </ng-container>

                        <ng-container matColumnDef="PatientName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> Patient Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientName ? element.PatientName : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col6">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Patient Name</th>
                        </ng-container>

                        <ng-container matColumnDef="PatientPhoneNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">Patient Phone Number </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientPhoneNumber ? element.PatientPhoneNumber : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col7">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Patient Phone Number</th>
                        </ng-container>

                        <ng-container matColumnDef="PatientID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> Patient ID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientID ? element.PatientID : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col8">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Patient ID</th>
                        </ng-container>

                        <ng-container matColumnDef="PatientGender">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> Gender </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientGender ? (element.PatientGender |titlecase): '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col9">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Gender</th>
                        </ng-container>

                        <ng-container matColumnDef="PatientAge">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> Age </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientAge ? element.PatientAge: '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col10">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Age</th>
                        </ng-container>

                        <ng-container matColumnDef="PatientRegistrationDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> Patient Registration Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.PatientRegistrationDate ? (element.PatientRegistrationDate | date:'dd-MM-yyyy hh:mm:ss a') : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col11">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Patient Registration Date</th>
                        </ng-container>

                        <ng-container matColumnDef="TBSymptoms">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">TB Symptoms </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.TBSymptoms ? element.TBSymptoms.join(', ') : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col12">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">TB Symptoms</th>
                        </ng-container>

                        <ng-container matColumnDef="TBIndicative">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">TB Indicative </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.TBIndicative ? element.TBIndicative : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col13">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">TB Indicative</th>
                        </ng-container>

                        <ng-container matColumnDef="MobileVerified">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">OTP Authentication</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.MobileVerified ? element.MobileVerified : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col14">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">OTP Authentication</th>
                        </ng-container>


                        <ng-container matColumnDef="FDCVoucherIssuingProviderName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDCVoucherIssuingProviderName</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherIssuingProviderName ? element.FDCVoucherIssuingProviderName : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col15">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Issuing Provider Name</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherIssuingProviderHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Issuing Provider HFID</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherIssuingProviderHFID ? element.FDCVoucherIssuingProviderHFID : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col16">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Issuing Provider HFID</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherIssuingFacilityName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Issuing Facility Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherIssuingFacilityName ? element.FDCVoucherIssuingFacilityName : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col17">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Issuing Facility Name</th>
                        </ng-container>

                        <ng-container matColumnDef="DoctorVoucherIssued">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">Doctor Voucher Issued</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.DoctorVoucherIssued ? element.DoctorVoucherIssued : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col18">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Doctor Voucher Issued</th>
                        </ng-container>

                        <ng-container matColumnDef="DoctorVoucherClaimed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">Doctor Voucher Claimed</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.DoctorVoucherClaimed ? element.DoctorVoucherClaimed : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col19">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Doctor Voucher Claimed</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Code</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherCode ? element.FDCVoucherCode : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col20">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Code</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherIssueDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Issue Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherIssueDate ? (element.FDCVoucherIssueDate | date:'dd-MM-yyyy hh:mm:ss a') : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col21">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Issue Date</th>
                        </ng-container>


                        <ng-container matColumnDef="TreatmentInitiationDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">Treatment Initiation Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.TreatmentInitiationDate ? (element.TreatmentInitiationDate | date:'dd-MM-yyyy hh:mm:ss a') : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col22">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Treatment Initiation Date</th>
                        </ng-container>

                        <ng-container matColumnDef="Adult_Pediatric">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">Adult/Pediatric</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.Adult_Pediatric ? element.Adult_Pediatric : '-----' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="col23">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Adult/Pediatric</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCIssuedFileURL">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Issue Prescription </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="eye text-primary" matTooltip="Click To View Prescription" (click)="downloadFile(element.FDCIssuedContainer, element.FDCIssuedFileName)">
                                    <i class="fa fa-eye " aria-hidden="true"></i> View
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col24">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Issue Prescription</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherClaimDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Claim Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherClaimDate ? (element.FDCVoucherClaimDate | date:'dd-MM-yyyy hh:mm:ss a') : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col25">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Claim Date</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherClaimProviderHFID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Claim Provider HFID</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherClaimProviderHFID ? element.FDCVoucherClaimProviderHFID : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col26">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Claim Provider HFID</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherClaimProviderName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Claim Provider Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherClaimProviderName ? element.FDCVoucherClaimProviderName : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col27">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Claim Provider Name</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCVoucherClaimFacilityName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Voucher Claim Facility Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.FDCVoucherClaimFacilityName ? element.FDCVoucherClaimFacilityName : '-----' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col28">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Voucher Claim Facility Name</th>
                        </ng-container>

                        <ng-container matColumnDef="FDCRedeemedFileURL">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">FDC Redeemed Prescription</th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.FDCVoucherRedeemed" class="eye text-primary" matTooltip="Click To View Prescription" (click)="downloadFile(element.FDCRedeemedContainer, element.FDCRedeemedFileName)">
                                    <i class="fa fa-eye " aria-hidden="true"></i> View
                                </span>
                                <span *ngIf="!element.FDCVoucherRedeemed" class="text-primary disabled" matTooltip="Voucher not redeemed yet.">
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i> View
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="col29">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">FDC Redeemed Prescription</th>
                        </ng-container>

                        <!-- Product 1 -->
                        <ng-container matColumnDef="pd_0_productName">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_0_productName ? element.pd_0_productName : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_0_confirmWeightBand">
                            <th mat-header-cell *matHeaderCellDef> Confirm Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_0_confirmWeightBand ? element.pd_0_confirmWeightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_0_numberOfBlister">
                            <th mat-header-cell *matHeaderCellDef> No. of Blisters</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_0_numberOfBlister ? element.pd_0_numberOfBlister : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_0_weightBand">
                            <th mat-header-cell *matHeaderCellDef> Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_0_weightBand ? element.pd_0_weightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_0_numberOfDays">
                            <th mat-header-cell *matHeaderCellDef> No. of Days</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_0_numberOfDays ? element.pd_0_numberOfDays : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="col30">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Product 1 </th>
                        </ng-container>

                        <!-- Product 2 -->
                        <ng-container matColumnDef="pd_1_productName">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_1_productName ? element.pd_1_productName : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_1_confirmWeightBand">
                            <th mat-header-cell *matHeaderCellDef> Confirm Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_1_confirmWeightBand ? element.pd_1_confirmWeightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_1_numberOfBlister">
                            <th mat-header-cell *matHeaderCellDef> No. of Blisters</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_1_numberOfBlister ? element.pd_1_numberOfBlister : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_1_weightBand">
                            <th mat-header-cell *matHeaderCellDef> Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_1_weightBand ? element.pd_1_weightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_1_numberOfDays">
                            <th mat-header-cell *matHeaderCellDef> No. of Days</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_1_numberOfDays ? element.pd_1_numberOfDays : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="col31">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Product 2 </th>
                        </ng-container>

                        <!-- Product 3 -->
                        <ng-container matColumnDef="pd_2_productName">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_2_productName ? element.pd_2_productName : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_2_confirmWeightBand">
                            <th mat-header-cell *matHeaderCellDef> Confirm Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_2_confirmWeightBand ? element.pd_2_confirmWeightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_2_numberOfBlister">
                            <th mat-header-cell *matHeaderCellDef> No. of Blisters</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_2_numberOfBlister ? element.pd_2_numberOfBlister : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_2_weightBand">
                            <th mat-header-cell *matHeaderCellDef> Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_2_weightBand ? element.pd_2_weightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_2_numberOfDays">
                            <th mat-header-cell *matHeaderCellDef> No. of Days</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_2_numberOfDays ? element.pd_2_numberOfDays : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="col32">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Product 3 </th>
                        </ng-container>

                        <!-- Product 4 -->
                        <ng-container matColumnDef="pd_3_productName">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_3_productName ? element.pd_3_productName : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_3_confirmWeightBand">
                            <th mat-header-cell *matHeaderCellDef> Confirm Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_3_confirmWeightBand ? element.pd_3_confirmWeightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_3_numberOfBlister">
                            <th mat-header-cell *matHeaderCellDef> No. of Blisters</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_3_numberOfBlister ? element.pd_3_numberOfBlister : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_3_weightBand">
                            <th mat-header-cell *matHeaderCellDef> Weight Band</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_3_weightBand ? element.pd_3_weightBand : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pd_3_numberOfDays">
                            <th mat-header-cell *matHeaderCellDef> No. of Days</th>
                            <td mat-cell *matCellDef="let element"> {{element?.pd_3_numberOfDays ? element.pd_3_numberOfDays : '-----'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="col33">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Product 4 </th>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="['col1','col2','col3','col4','col5','col6','col7','col8','col9','col10','col11','col12','col13','col14','col15','col16','col17','col18','col19','col20','col21','col22','col23','col24','col25','col26','col27','col28','col29','col30','col31','col32','col33'];"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator>

            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>