<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>CXR Offered</mat-label>
    <mat-select placeholder="Select CXR Offered" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let cxr of cxrData" [value]="cxr.value">
            {{ cxr.name }}
        </mat-option>
    </mat-select>
</mat-form-field>