<!-- <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile"> -->
<!--begin::Aside-->
<!-- <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-image: url(./assets/media//bg/bg-4.jpg);">
            <div class="kt-grid__item">
                <a href="javascript:;" class="kt-login__logo">
                    <img src="./assets/media/logos/WTC_logo.png" height="150px" alt="">
                </a>
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                <div class="kt-grid__item kt-grid__item--middle">
                    <h3 class="kt-login__title">Welcome to Digital Reference-WTC!</h3> -->
<!-- <h4 class="kt-login__subtitle">The ultimate Bootstrap &amp; Angular 8 admin theme framework for next generation web apps.</h4> -->
<!-- </div>
            </div>
            <div class="kt-grid__item">
                <div class="kt-login__info">
                    <div class="kt-login__copyright">
                        © {{today|date:'yyyy'}} WTC
                    </div>
                    <div class="kt-login__menu">
                        <a href="javascript:;" class="kt-link">{{ 'AUTH.GENERAL.PRIVACY' | translate }}</a>
                        <a href="javascript:;" class="kt-link">{{ 'AUTH.GENERAL.LEGAL' | translate }}</a>
                        <a href="javascript:;" class="kt-link">{{ 'AUTH.GENERAL.CONTACT' | translate }}</a>
                    </div>
                </div>
            </div>
        </div> -->
<!--begin::Aside-->

<!--begin::Content-->
<!-- <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
            <router-outlet></router-outlet>
        </div> -->
<!--end::Content-->
<!-- </div>
</div> -->

<!-- BIRDS AND BEES LOGIN -->
<!-- <div class="container-fluid d-flex flex-column" style="min-height: 100%; background: #014a99;">
    <div class="row align-items-center flex-grow-1">
        <div class="col-md-6 col-lg-4 offset-lg-1 order-md-1">
            <div class="d-flex justify-content-center align-items-center p-3">
                <mat-card class="mat-elevation-z8 w-100">
                    <mat-card-content>
                        <div class="text-center">
                            <img src="./assets/media/logos/birdbeeslogo.jpeg" class="mb-3" height="100px" alt="" />
                        </div>
                        <router-outlet></router-outlet>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-md-6 order-md-0 bg-white text-dark align-self-stretch">
            <div class="d-flex flex-column justify-content-between h-100 p-4">
                <img src="./assets/media/logos/birdbees.jpg" class="mb-3" height="350px" alt="" />

                <h1 class="text-center text-primary">The Birds and The Bees</h1>
                <p>
                    <b>"The birds and the bees"</b> is an idiomatic expression and euphemism that refers to courtship and sexual intercourse. "The birds and the bees talk" (sometimes known simply as "the talk") is generally the occasion in most children's
                    lives where their parents explain what sexual relationships are.[1][2] According to tradition, "the birds and the bees" is a metaphorical story sometimes told to children in an attempt to explain the mechanics and results of sexual
                    intercourse through reference to easily observed natural events. For instance, bees carry and deposit pollen into flowers, a visible and easy-to-explain parallel to the way a man brings about fertilisation. Female birds laying eggs
                    is a similarly visible and easy-to-explain parallel to female ovulation.
                </p> 
                <div class="text-center ">
                    <img src="./assets/media/logos/rb-logo.png" class="mb-3" height="80px" alt="" />
                    <img src="./assets/media/logos/swachhbharat.jpg" class="mb-3  ml-5" height="80px" alt="" />

                </div>

            </div>
        </div>
    </div>
</div> -->

<!-- TB-DURG LOGIN -->
<div class="container-fluid d-flex flex-column" style="min-height: 100%; background: #014a99;">
    <div class="row align-items-center flex-grow-1">
        <div class="col-md-6 col-lg-4 offset-lg-1 order-md-1">
            <div class="d-flex justify-content-center align-items-center p-3">
                <mat-card class="mat-elevation-z8 w-100">
                    <mat-card-content>
                        <div class="text-center d-flex justify-content-around">
                            <img src="./assets/media/logos/CHAI.png" style=" margin-right: 10px" height="70px" alt="" />

                            <img src="./assets/media/logos/STOPTB.png" class="mb-4" height="70px" alt="" />
                        </div>
                        <router-outlet></router-outlet>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-md-6 order-md-0 bg-white text-dark align-self-stretch">
            <div class="d-flex flex-column justify-content-center align-items-center h-100 p-4">

                <div class="d-flex w-100" style="justify-content: space-evenly;">
                    <img src="./assets/media/logos/CHAI.png" style="margin-top: 11px; " height="100px" alt="" />

                    <img src="./assets/media/logos/STOPTB.png" class="mb-4" height="110px" alt="" />
                </div>

                <h1 class="text-center text-primary">An Integrated Approach Towards Early Diagnosis and Care for TB Patients in the Private Sector</h1>
                <!-- <div class="text-center ">
                    <img src="./assets/media/logos/rb-logo.png" class="mb-3" height="80px" alt="" />
                    <img src="./assets/media/logos/swachhbharat.jpg" class="mb-3  ml-5" height="80px" alt="" />

                </div> -->

            </div>
        </div>
    </div>
</div>