<mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Site of Disease</mat-label>
    <mat-select placeholder="Select Site of Disease" (selectionChange)="changedValue($event.value)">
        <mat-option *ngFor="let disease of diseases" [value]="disease.value">
            {{ disease.name }}
        </mat-option>
    </mat-select>
</mat-form-field>