::ng-deep {
    .mat-row:nth-child(even) {
        background-color: rgb(240, 245, 239);
    }
    mat-footer-row,
    mat-header-row,
    mat-row,
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        border: 1px solid #000;
        padding: 5px !important;
        font-weight: 400;
    }
    th.mat-header-cell {
        background-color: #5867dd;
        color: #ffff;
        font-size: 14px;
        white-space: pre;
        padding: 0px 8px !important;
        border: 0.5px solid #ccc;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.01em;
      }
      tr.mat-header-row, tr.mat-row {
        height: 45px !important;
      }
      td.mat-cell {
        /* border-bottom-color: rgba(0,0,0,.12); */
        padding: 0px 20px;
        border: none;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
      }
    .mat-header-row,
    .mat-row {
        height: 30px !important;
        min-height: 0px !important;
        white-space: pre !important;
    }
    .mat-sort-header-arrow {
        color: #fff;
    }
}